<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CFTV-Inteligente: Galeria de Imagens</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>  
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.js"></script>  
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="module/app.js"></script>
	<script src="controller/controller.js"></script>

	<link href="css/lightbox.css" rel="stylesheet" />

</head>

<body ng-controller="appController">
	<div id="img_camera">
		<p>Imagem Câmera</p>
		
		<a ng-show="imgCamera != undefined" ng-href="{{imgCamera}}" rel="lightbox" title="Imagem 1">
			<img ng-src="{{imgCamera}}" width="260" height="260" alt="" title="Img#1" />
		</a>
	</div>

	<div id="gallery">
		<p style="text-align: center">Imagens de Referência</p>
		<ul>
			<li>
				<a ng-show="ref1 != undefined" ng-href="{{ref1}}" rel="lightbox" title="Imagem 2">
					<img ng-src="{{ref1}}" width="260" height="260" alt="" title="Img#2" />
				</a>
				<a ng-show="ref2 != undefined"  ng-href="{{ref2}}" rel="lightbox" title="Imagem 3">
					<img ng-src="{{ref2}}" width="260" height="260" alt="" title="Img#3" />
				</a>
				<a ng-show="ref3 != undefined"  ng-href="{{ref3}}" rel="lightbox" title="Imagem 4">
					<img ng-src="{{ref3}}" width="260" height="260" alt="" title="Img#3" />
				</a>
				<a ng-show="ref4 != undefined"  ng-href="{{ref4}}" rel="lightbox" title="Imagem 5">
					<img ng-src="{{ref4}}" width="260" height="260" alt="" title="Img#3" />
				</a>
				<a ng-show="ref5 != undefined" ng-href="{{ref5}}" rel="lightbox" title="Imagem 5">
					<img ng-src="{{ref5}}" width="260" height="260" alt="" title="Img#3" />
				</a>
			</li>
			
		</ul>
	</div>
</body>

</html>
