<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Monitoramento Imagens Live</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">

<link rel="stylesheet" href="css/font-awesome.min.css">

<link rel="stylesheet" href="css/font-awesome-animation.min.css">

<link rel="stylesheet" href="css/custom.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="appcontroller">
		
 		
		<div id="main" class="container-fluid center-block">
		
			<div class="row" style="background-color: black;">	
				<div class=col-md-12>
					<div class="col-sm-6 col-xs-8" ng-repeat="i in imageUrlLarge track by $index">
						<div class="embed-responsive embed-responsive-16by9">
							<img id="{{i.id}}" class="embed-responsive-item img-box img-rounded"  fallback-src="https://intranet.orsegups.com.br/fusion/custom/jsp/orsegups/cm/imagens/camera-motion_not_found.png" ng-src="{{i.src}}" alt="img">
						</div>
					</div>
				</div>
				<div class=col-md-12>
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" ng-repeat="s in imageUrlSmall track by $index">
						<div class="embed-responsive embed-responsive-16by9">
							<img id="{{s.id}}" class="embed-responsive-item img-box img-rounded"  fallback-src="https://intranet.orsegups.com.br/fusion/custom/jsp/orsegups/cm/imagens/camera-motion_not_found.png" ng-src="{{s.src}}" alt="img">
						</div>
					</div>
				</div>				
			</div>
		</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/bootstrap/bootstrap.min.js"></script>

	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/angular-animate.min.js"></script>
	<script src="js/angular/angular-ui-bootstrap-tpls-2.5.0.min.js"></script>


	<script src="js/module/app.module.js"></script>
	<script src="js/controller/app.controller.js"></script>	
	<script src="js/custom-effects.js"></script>
	
	<!--<script src="js/effects/custom-effects.js"></script>  -->
	



</body>
</html>
