<!DOCTYPE html>
<html lang="en" ng-app="appRelatorio"
	ng-controller="appcontrollerrelatorio">
<head>
<title>Relatório de Processos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/gijgo@1.9.1/combined/js/gijgo.min.js"
	type="text/javascript"></script>
<link
	href="https://cdn.jsdelivr.net/npm/gijgo@1.9.1/combined/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" media="screen and (min-width: 1280px)" href="css/main.css">
<link rel="stylesheet" media="screen and (max-width: 1279px)" href="css/mainTelaPequena.css"><!--===============================================================================================-->
</head>
<body>
	<div class="title">Relatório de Processos Ativos</div>
	<div></div>
	<div class="form">
		<form class="form-inline" method="GET" name="selectForm"
			ng-submit="buscar()">
			<div>
				<select id="status" ng-model="item.desc" required
					ng-options="item.desc for item in selectStatus"
					ng-change="changedValue(item.desc)">
					<option value="" disabled>-- Selecione --</option>
				</select>
			</div>
			<div>
				Data Citação de&nbsp;&nbsp; <input type="date" id="datepicker" ng-model="teste1" class="form-control" ng-required="teste2">
				&nbsp;&nbsp;Até &nbsp;&nbsp;<input type="date" id="datepicker2" ng-model="teste2" class="form-control" ng-required="teste1">
				&nbsp;&nbsp;
				<button type="submit" class='button' id="consultar" >Consultar</button>
			</div>
			<!-- DIV DOS DATES PICKERS DE BAIXO -->
	</div>

	<div class="botoesBaixo form-inline">
	<div>
				<select id="status2" ng-model="escritorio.nome"
					ng-options="escritorio.nome for escritorio in escri">
					<option value="" disabled>-- Selecione --</option>
				</select>
		</div>
		<label for="label2" id='label3'>{{label2}}</label>&nbsp;&nbsp; <input type="date" id="datepicker3" ng-model="teste3" class="form-control" ng-required="teste4">
		<label id='label4'>&nbsp;&nbsp;Até &nbsp;&nbsp;</label><input type="date" id="datepicker4" ng-model="teste4" class="form-control" ng-required="teste3">
		</form>
		<form method='post' ng-submit="sendPost()">
		<div>
			<i class="fa fa-cloud-download imagem" aria-hidden="true"
				style="font-size: 48px; cursor: pointer;" title="Download"
				onclick="download()" ></i>
				<input type="hidden" name="json" id="json" value="">
				<button type="submit" style="visible : false" formmethod="post" id='mandarPost' name='mandarPost'></button>
		</div>
		</form>
	</div>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Autor</th>
									<th class="cell100 column2">Centro de custo / Sit.</th>
									<th class="cell100 column3">CCU Manual / Sit.</th>
									<th class="cell100 column4">Processo</th>
									<th class="cell100 column5">Data Citação</th>
									<th class="cell100 column6">{{headerVal}}</th>
									<th class="cell100 column7">Meses</th>
									<th class="cell100 column8">Escritorio</th>
									<th class="cell100 column9">Tarefa</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll" id="dvData">
						<table id="dados" class="topo">
							<tr class="row100 body" ng-repeat="alt in dados">
								<td class="cell100 column1">{{alt.autor}}</td>
								<td class="cell100 column2">{{alt.centroDeCusto}} / {{alt.centroDeCustoSit}}</td>
								<td class="cell100 column3">{{alt.centroDeCustoManual}} / {{alt.centroDeCustoManualSit}}</td>
								<td class="cell100 column4">{{alt.nroProcesso}}</td>
								<td class="cell100 column5">{{alt.dataCitacao}}</td>
								<td class="cell100 column6">{{alt.dataFinalizacao}}</td>
								<td class="cell100 column7">{{alt.mesesDiff}}</td>
								<td class="cell100 column8">{{alt.escritorio}}</td>
								<td class="cell100 column9">{{alt.nroTarefa}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal" ng-show="isLoading">
		<!-- Place at bottom of page -->
	</div>

	<!--===============================================================================================-->
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script>
		$('select').change(function() {
			var optionSelected = $(this).find("option:selected");
		});
	</script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="module/app.module.relatorio.js"></script>
	<script src="js/jquery.growl.js" type="text/javascript"></script>
	<link href="css/jquery.growl.css" rel="stylesheet" type="text/css" />
	<script src="controller/app.controller.relatorio.js"></script>
	<script src="js/toDownload.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.11/smart-table.js"></script>
</body>
</html>