<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Produtividade AIT</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
<link href="css/w3.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/angular-modal-progress-bar.css">

</head>
<script type="text/javascript">


</script>
<body ng-controller="getListas">
	<div class="modal modal-static fade" id="processing-modal" name="processing-modal" role="dialog" aria-hidden="true" >
	    <div class="modal-dialog"  >
	        <div class="modal-content"   >
	            <div class="modal-body"  >
	                <div class="text-center"   >
	                
<!-- 								    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"> -->
<!-- 								      Aguarde... -->
<!-- 								    </div> -->
								    <img src="img/loading.gif" style="height: 80px;" class="icon" />
                   				    <h4>Processando... </h4>
					
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="contestar-modal"  tabindex="-1" role="dialog"
		aria-labelledby="modalLabel">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 600px; height: 550px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">x</button>
					<h4 id="modal-label">Contestar produtividade: {{selectedItem}}</h4>
					<h5 id="modal-label">{{txAit}}</h5>
				</div>
				<div class="modal-body">
					<form id="formContestacao" >
						<textarea class="form-control" ng-model="txRelato"
							style="resize: none; height: 300px;" cols="30" rows="5"></textarea>
						<br/>
						<a id="exibirProcess" role="button" href="https://intranet.orsegups.com.br/fusion/bpm/workflow_search.jsp?id={{numeroProcesso}}" target="_blank" ng-class="exibirProcessoClass"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Processo</a>
						<button id="confirmarContestacao" type="submit" ng-if="!btnConfirmarRelato" ng-click="sendSetRelato()" ng-class="confirmarContestacaoClass"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Confirmar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">x</button>
					<h4 class="modal-title" id="myModalLabel">
						<i class="text-muted fa fa-shopping-cart"></i> <strong>{{evento.cdEvento}}</strong>
						- Detalhes do evento
					</h4>
				</div>
				<div class="modal-body">

					<table class="pull-left col-md-8 ">
						<tbody>
							<tr>
								<td class="h6"><strong>Cliente</strong></td>
								<td></td>
								<td class="h5">{{evento.cliente}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Viatura</strong></td>
								<td></td>
								<td class="h5">{{evento.ait}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Evento</strong></td>
								<td></td>
								<td class="h5">{{evento.cdEvento}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Data do Fechamento</strong></td>
								<td></td>
								<td class="h5">{{evento.dtFechamento}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Regional</strong></td>
								<td></td>
								<td class="h5">{{evento.regional}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Empresa</strong></td>
								<td></td>
								<td class="h5">{{evento.empresa}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Operador</strong></td>
								<td></td>
								<td class="h5">{{evento.op}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Deslocamento(s)</strong></td>
								<td></td>
								<td class="h5">{{evento.deslocamento}}</td>
							</tr>

							<tr>
								<td class="h6"><strong>Atendimento(s)</strong></td>
								<td></td>
								<td class="h5">{{evento.atendimento}}</td>
							</tr>

						</tbody>
					</table>
					
					<div class="col-md-4">
						<img
							src="https://intranet.orsegups.com.br/fusion/file/download/{{foto}}"
							alt="Ait" class="img-thumbnail">
					</div>
					<div class="clearfix"></div>
					<p class="text-left">
						<strong>Fechamento</strong><br>{{evento.txFechamento}}
					</p>
					<p class="text-left">
						<strong>Gerente</strong><br>{{evento.txGerente}}
					</p>
					<p class="open_info hide">+</p>
				</div>

				<div class="modal-footer">

<!-- 					<div class="text-right pull-right col-md-3"> -->
<!-- 						Tempo Deslocamento: <br /> <span class="h3 text-muted"><strong> -->
<!-- 								10 mintuos </strong></span></span> -->
<!-- 					</div> -->

<!-- 					<div class="text-right pull-right col-md-3"> -->
<!-- 						Tempo Atendimento: <br /> <span class="h3 text-muted"><strong>15 mintuos</strong></span> -->
<!-- 					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div id="main" class="container-fluid">
		 <nav class="navbar navbar-default navbar-fixed-top">
		      <div class="container">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span> Consulta produtividade do AIT</a>
		        </div>
		      </div><!-- /.container -->
		 </nav><!-- /.navbar -->
		<div class="container">
			<div class="span3 well" ng-show="atendimentos.length>0">
				<center>
					<a data-toggle="modal" data-target="#myModalAit" ><img
						src="https://intranet.orsegups.com.br/fusion/file/download/{{dadosAit.nomeImagem}}"
						name="aboutme" width="140" height="140" class="img-circle"></a>
					<h3>{{dadosAit.titulo.split('-')[3]}}</h3>
					<em>{{dadosAit.nomeMotorista}}</em>
					<br>
					<span><strong>Produtividade: </strong></span> <span
									class="label label-warning">QTD: {{count}}</span> <span
									class="label label-info">DSL: {{totalValorDLS |  currency : "R$"}}</span> <span
									class="label label-info">ATD: {{totalValorATD |  currency : "R$"}}</span> <span
									class="label label-success">A Receber: {{totalValorGeral | currency : "R$"}}</span>
		
				</center>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModalAit" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true"></button>
							<h4 class="modal-title" id="myModalLabel">Mais sobre
								{{dadosAit.titulo.split('-')[3]}}</h4>
						</div>
						<div class="modal-body">
							<center>
								<img
									src="https://intranet.orsegups.com.br/fusion/file/download/{{dadosAit.nomeImagem}}"
									name="aboutme" width="140" height="140" border="0"
									class="img-circle"></a>
								<h3 class="media-heading">
									{{dadosAit.nomeMotorista}} <small>{{dadosAit.codigoViatura}}</small>
									           
								</h3>
								<span><strong>Produtividade: </strong></span> <span
									class="label label-warning">QTD: {{count}}</span> <span
									class="label label-info">DSL: {{totalValorDLS |  currency : "R$"}}</span> <span
									class="label label-info">ATD: {{totalValorATD |  currency : "R$"}}</span> <span
									class="label label-success">A Receber: {{totalValorGeral | currency : "R$"}}</span>
							</center>
							<hr>
							<center>
								<p class="text-left">
									<strong>Dados: </strong><br> Empresa:
									{{dadosAit.titulo.split('-')[0]}}<br> Matrícula:
									{{dadosAit.titulo.split('-')[2]}}<br> Nome:
									{{dadosAit.titulo.split('-')[3]}}
								</p>
								<br>
							</center>
						</div>
						<div class="modal-footer">
							<center>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Já vi o suficiente sobre
									{{dadosAit.titulo.split('-')[3]}}</button>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="top" class="row">
			<div class="col-md-3"></div>

			<div class="col-md-6">
				<div class="input-group h2">
					<div class="input-group-btn">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button"
								id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="true">
								{{selectedItem}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li ng-model="selectedItem" ng-repeat="a in subjects"><a
									ng-click="dropboxitemselected(a)">{{a}}</a></li>
							</ul>
						</div>
					</div>
					<input name="data[search]" class="form-control" id="search"
						type="text" placeholder="Pesquisar Itens"
						typeahead-editable="false" ng-model="selected"
						typeahead="state as state.nmViatura for state in states | filter:$viewValue | limitTo:10">
					<span class="input-group-btn">
						<button class="btn btn-primary" data-toggle="modal" data-target="#processing-modal" ng-click="sendGet()" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>

			<div class="col-md-3" id="btnContestar">
				<a class="btn btn-primary pull-right h2" ng-click="alert('Foi!')" href="#"
					data-toggle="modal" ng-disabled="!inactive"
					data-target="#contestar-modal"><span class="glyphicon glyphicon-exclamation-sign"></span> 
					Contestar
				</a>
			</div>
				<p>{{arquivo}}</p>
		</div>
			<div class="row">
				<div class="col-xs-5">
  						<hr>
				</div>
				<div class="col-xs-2 text-center">
  						<a class="btn btn-md btn-default" ng-click="mostrarDetalhes()">Detalhes <i id="icon-detalhes" ng-class="detalhesClass"></i></a>
				</div>
				<div class="col-xs-5">
  						<hr>
				</div>
			</div>
		<div id="list" class="row">
			<div class="table-responsive col-md-12">
				<table class="table table-bordered table-striped"
					ng-model="dgAtendimentos" cellspacing="0" cellpadding="0" ng-show="detalhes">
					<thead>
						<tr>
							<th data-sortable="true">Nº</th>
							<th data-sortable="true"><a href="#"
								ng-click="orderByField='cliente'; reverseSort = !reverseSort">
									Cliente <span ng-show="orderByField == 'cliente'"> </span>
							</a></th>
							<th data-sortable="true"><a href="#"
								ng-click="orderByField='cdEvento'; reverseSort = !reverseSort">
									Evento <span ng-show="orderByField == 'cdEvento'"> </span>
							</a></th>
							<th data-sortable="true"><a href="#"
								ng-click="orderByField='dtFechamento'; reverseSort = !reverseSort">
									Fechamento <span ng-show="orderByField == 'dtFechamento'">
								</span>
							</a></th>
							<th data-sortable="true"><a href="#"
								ng-click="orderByField='op'; reverseSort = !reverseSort"> Op
									<span ng-show="orderByField == 'op'"> </span>
							</a></th>
							<th data-sortable="true"><a href="#"
								ng-click="orderByField='deslocamento'; reverseSort = !reverseSort">
									Deslocamento <span ng-show="orderByField == 'deslocamento'">
								</span>
							</a></th>
							<th data-sortable="true"><a href="#"
								ng-click="orderByField='atendimento'; reverseSort = !reverseSort">
									Atendimento <span ng-show="orderByField == 'atendimento'">
								</span>
							</a></th>
							<th class="actions">Ações</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="x in atendimentos|orderBy:orderByField:reverseSort" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
							<td>{{ $index + 1 }}</td>
							<td>{{ x.cliente }}</td>
							<td>{{ x.cdEvento }}</td>
							<td>{{ x.dtFechamento }}</td>
							<td>{{ x.op }}</td>
							<td>{{ x.deslocamento }}</td>
							<td>{{ x.atendimento }}</td>
							<td class="actions"><a class="btn btn-warning btn-xs"
								href="#" data-toggle="modal" ng-click="sendGetFoto(x)"
								data-target="#myModal"><span
								class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
								
						</tr>

						<tr>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="model/app.module.js"></script>
	<script src="service/app.service.js"></script>
	<script src="controller/app.factory.js"></script>
	<script src="controller/app.controller.js"></script>

	<script src="js/jquery-1.12.2.min.js"></script>
	<script src="js/jquery.form.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
	<script src="js/bootstrap-table.js"></script>
	

</body>
</html>