<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ranking Produtividade AIT</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
<link href="css/w3.css" rel="stylesheet">
<link href="css/styleCustom2.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/angular-modal-progress-bar.css">
<link rel="stylesheet" href="css/custom-style-ranking.css"	
<link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body ng-controller="getListas" ng-init="getPermissaoExibicao()">
	<div class="modal modal-static fade" id="processing-modal" name="processing-modal" role="dialog" aria-hidden="true" >
	    <div class="modal-dialog"  >
	        <div class="modal-content"   >
	            <div class="modal-body"  >
	                <div class="text-center"   >	               
						<img src="img/loading.gif" style="height: 80px;" class="icon" />
             			<h4>Processando... </h4>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

<div class="col-md-12 bootstrap snippets">
<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" ng-class="navbar" style="text-align:center;">
                <ul class="pagination pagination-split">
  					<span data-toggle="tooltip" title="São José" data-placement="top"><button
						type="button" class="btn btn-default" data-toggle="modal"
						data-target="#processing-modal" ng-show="permissoes.SOO"
						ng-click="ranking('SOO')">SOO</button></span>

					<span data-toggle="tooltip" title="Itajaí" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.IAI"
							ng-click="ranking('IAI')">IAI</button></span>
	
					<span data-toggle="tooltip" title="Brusque" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.BQE"
							ng-click="ranking('BQE')">BQE</button></span>
	
					<span data-toggle="tooltip" title="Blumenau" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.BNU"
							ng-click="ranking('BNU')">BNU</button></span>
	
					<span data-toggle="tooltip" title="Joinville" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.JLE"
							ng-click="ranking('JLE')">JLE</button></span>
	
					<span data-toggle="tooltip" title="Lages" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.LGS"
							ng-click="ranking('LGS')">LGS</button></span>
	
					<span data-toggle="tooltip" title="Criciúma" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.CUA"
							ng-click="ranking('CUA')">CUA</button></span>
	
					<span data-toggle="tooltip" title="Chapecó" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.CCO"
							ng-click="ranking('CCO')">CCO</button></span>
	
					<span data-toggle="tooltip" title="Rio do Sul" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.RSL"
							ng-click="ranking('RSL')">RSL</button></span>
	
					<span data-toggle="tooltip" title="Jaraguá do Sul"
						data-placement="top"><button type="button"
							class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.JGS"
							ng-click="ranking('JGS')">JGS</button></span>
	
					<span data-toggle="tooltip" title="Curitiba" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.CTA"
							ng-click="ranking('CTA')">CTA</button></span>
	
					<span data-toggle="tooltip" title="Cascavel" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.CSC"
							ng-click="ranking('CSC')">CSC</button></span>
	
					<span data-toggle="tooltip" title="Tubarão" data-placement="top"><button
							type="button" class="btn btn-default" data-toggle="modal"
							data-target="#processing-modal" ng-show="permissoes.TRO"
							ng-click="ranking('TRO')">TRO</button></span>
					<br>
                </ul>
            </div>
                    
            <div class="clearfix"></div>
            
            <div class="jumbotron" ng-class="jumbo">
    			<h2>&nbsp Selecione uma regional. </h2>
    		</div>
    
            
            <!-- ----------  ng-repeat -->
			<div class="row">
				<div class="col-lg-12">
					<div class="main-box clearfix">
						<div class="col-lg-10 box-ranking">
						<div class="table-responsive" >
							<table class="table user-list">
								<thead>
									<tr>
										<th><span>Colaborador</span></th>
										<th><span>Posição</span></th>
										<th class="text-center"><span>Produtividade</span></th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="ait in dadosRankingAit | orderBy: '-produtividade.totalValorGeral' ">
										<td>
											<img src="https://intranet.orsegups.com.br/fusion/file/download/{{ait.nomeImagem}}" alt="AIT">
											<a href="#" class="user-link">{{ait.titulo.split('-')[3]}}</a>
											<span class="user-subhead">{{ait.nmViatura.split('-')[0]}}-{{ait.nmViatura.split('-')[1]}}-{{ait.nmViatura.split('-')[2]}}-{{ait.nmViatura.split('-')[3]}}</span>
										</td>
										<td>
											&nbsp{{ $index + 1 }}º <i ng-show="{{$index}} == 0 || {{$index}} == 1 || {{$index}} == 2 " class="fa fa-trophy trofeu trofeu{{$index}}" aria-hidden="true"></i>
										</td>
										<td class="text-center">
											<span class="label label-primary produtividade">{{ait.produtividade.totalValorGeral | currency : "R$"}}</span>
										</td>
<!-- 										<td> -->
<!-- 											<a href="#">mila@kunis.com</a> -->
<!-- 										</td> -->
<!-- 										<td style="width: 20%;"> -->
<!-- 											<a href="#" class="table-link"> -->
<!-- 												<span class="fa-stack"> -->
<!-- 													<i class="fa fa-square fa-stack-2x"></i> -->
<!-- 													<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
<!-- 												</span> -->
<!-- 											</a> -->
<!-- 											<a href="#" class="table-link"> -->
<!-- 												<span class="fa-stack"> -->
<!-- 													<i class="fa fa-square fa-stack-2x"></i> -->
<!-- 													<i class="fa fa-pencil fa-stack-1x fa-inverse"></i> -->
<!-- 												</span> -->
<!-- 											</a> -->
<!-- 											<a href="#" class="table-link danger"> -->
<!-- 												<span class="fa-stack"> -->
<!-- 													<i class="fa fa-square fa-stack-2x"></i> -->
<!-- 													<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i> -->
<!-- 												</span> -->
<!-- 											</a> -->
<!-- 										</td> -->
									</tr>
									
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
      <!-- ------------------------------------ -->
        </div>
    </div>
    

    
</div>
</div>
<script src="js/angular.min.js"></script>
<script src="model/app.module.js"></script>

<script src="service/app.service.js"></script>
<script src="controller/app.factory.js"></script>

<script src="controller/app.controller.js"></script>




<script src="js/jquery-1.12.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="js/custom-ranking.js"></script>


</body>
</html>