
body{
	margin:0;
	position: relative;
	text-align: center;
}

#panel-colab{
	text-align: center;
	display: inline-block;
	margin-top: 10%;
}

#panel-img{
	padding: 0;
	background-image: url("imagens/custom/blog_colaborador.png") no-repeat;
}

