.fade-element-in.ng-enter {
	transition: 2s linear all;
	opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
	opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
	opacity: 1;
}

.fade-element-in.ng-leave {
	transition: 0s linear all;
	opacity: 1;
}

.fade-element-in.ng-leave.ng-leave-active {
	opacity: 0;
}

.row {
	margin-top: 40px;
	padding: 0 10px;
}

.clickable {
	cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.space {
	margin-bottom: 10px;
}

.btn-space {
	margin-top: 25px;
	margin-bottom: 10px;
}

.itemBox {
	padding: 5px;
}

.itemBox:hover {
	background-color: #c6e5ff;
}

.itemBoxDanger {
	padding: 5px;
}

.itemBoxDanger:hover {
	background-color: #eed3d3;
}

.jumbotron{
	background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
    color: whitesmoke;	
}

.dangerLista{
	margin-left: 28px;
}

.listaRotaItem{
	margin-top: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

.danger {
  background-color: #d34945 !important;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-content {
    max-width: 820px !important;
}

.easterCount{
	font-size: 12px;
}


/* The switch - the box around the slider */
.swith-small {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-bottom: 0 !important;
}

/* Hide default HTML checkbox */
.swith-small input {display:none;}

/* The slider */
.slider-small {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-small:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-small {
  background-color: #2196F3;
}


input:focus + .slider-small {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-small:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider-small.round {
  border-radius: 25px;
}

.slider-small.round:before {
  border-radius: 50%;
}

.span-inline{
	display: inherit;
    margin-left: 45px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* /* When you mouse over the navigation links, change their color */ */
/* .sidenav a:hover, .offcanvas a:focus{ */
/*     color: #f1f1f1; */
/* } */

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav .list-group-item{
	border-color: #111;
    background-color: #111;
}