/* input[type=text] { */
/* 	border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	-webkit-border-radius: 4px; */
/* 	box-shadow: 1px 1px 2px #636E8E; */
/* 	-moz-box-shadow: 1px 1px 2px #636E8E; */
/* 	-webkit-box-shadow: 1px 1px 2px #636E8E; */
/* 	background: #e1e1e1; */
/* 	border: 1px solid #636E8E; */
/* 	width: 200px; */
/* /* 	font-weight: bold; */
*
/
/* 	font-family: cursive; */
/* } */

/* input[type=date] { */
/* 	border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	-webkit-border-radius: 4px; */
/* 	box-shadow: 1px 1px 2px #636E8E; */
/* 	-moz-box-shadow: 1px 1px 2px #636E8E; */
/* 	-webkit-box-shadow: 1px 1px 2px #636E8E; */
/* 	background: #e1e1e1; */
/* 	border: 1px solid #636E8E; */
/* 	width: 200px; */
/* /* 	font-weight: bold; */
 
*
/
/* 	font-family: cursive; */
/* } */

/* select { */
/* 		border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	-webkit-border-radius: 4px; */
/* 	box-shadow: 1px 1px 2px #636E8E; */
/* 	-moz-box-shadow: 1px 1px 2px #636E8E; */
/* 	-webkit-box-shadow: 1px 1px 2px #636E8E; */
/* 	background: #e1e1e1; */
/* 	border: 1px solid #636E8E; */
/* 	width: 200px; */
/* /* 	font-weight: bold; */
 
*
/
/* 	font-family: cursive; */
/* } */

/* form { */
/* 	font-family: cursive; */
/* } */

/* input[type=button] { */
/* 	background: #4A5677; */
/* 	color: #ffffff; */

/* 	font-family: cursive; */
/* } */

/* h3 { */
/* 	font-family: cursive; */
/* 	font-size: 22px; */
/* 	font-style: italic; */
/* 	color: #4A5677; */
/* 	font-weight: bold; */
/* } */

/* /* a:link { */
 
*
/
/* /* 		background: #e1e1e1; */
 
*
/
/* /* 		font-style: italic; */
 
*
/
/* /* 	color: #ffffff; */
 
*
/

/* /* 	font-family: cursive; */
 
*
/
/* /* } */
 
*
/

/* a:hover { */
/* 	color: #636E8E; */
/* } */



 @CHARSET "ISO-8859-1";

.panel-heading {
	background-color: #6b7486 !important;
	color: white !important;
	font-weight: bold;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

.span-ajuda {
	background-color: #6b7486 !important;
}

h3 {
	display: inline;
}

.btn-pesquisar {
	background-color: #6b7486 !important
}

.ajuda {
	font-size: x-large;
}

.campoformulario {
	max-width: 350px;
	min-width: 2px;
}

.campoformulario2 {
	max-width: 250px;
	min-width: 2px;
}

.campoBotao {
	max-width: 300px;
	min-width: 300px;
	background-color: #6b7486;
}