@CHARSET "ISO-8859-1";

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.botaoCadastrar {
    background-color: #ddd;
    border-color: #ddd;
    border-radius: 5px;
    float: right;
    width: 45%;
    height: 5%;
}

.col-xs-12 {
	padding-top: 15px;
}

#divMensagemRetorno {
	text-align: center;
	display: none;
	background: linear-gradient(to bottom, #e5acb4 1%, #e39da6 52%, #e4999e 100%);
	background-color: #e39ca4;
	border-color: #d3172d;
	border-radius: 4px!important;
	color: #a94442;
	border: 1px solid;
}


