<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome-animation.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome-animation.min.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/custom.css">

<title>Monitores</title>

</head>
<body ng-controller="appEventosAbertos">

<div class="container-fluid">

	<div class="row">

    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default btn-space">
        <div class="panel-heading">
          <h3>Eventos abertos para a placa MIH-0572 <span aria-hidden="true" title="Atualizar eventos" ng-class="iconRefresh" ng-click="atualizarEventos()"></span></h3>
          

        <table class="table table-hover table-bordered">
          <th>Data recebimento</th>
          <th>Código Evento</th>
          <th>Receptora</th>
          <tr ng-repeat="evento in eventos track by $index">
            <td>{{evento.dataRecebimento}}</td>
            <td>{{evento.codigoEvento}}</td>
            <td>{{evento.resposta}}</td>
          </tr>

        </table>
    </div>
	</div>


	</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
<script src="module/app.module.js"></script>
<script src="controller/app.eventosabertos.controller.js"></script>
</body>
</html>
