.bordered {
	border: 1px solid #000;
}

.modal.in .modal-dialog {
	z-index: 99999;
}

.container {
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.jumbotron {
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
}

ul.propositionList li{
	box-shadow: -6px 0 white, 6px 0 white, 0 4px 4px -2px rgb(224, 224, 224);
	padding-bottom: 1px;
	margin-bottom: 8px;
}

ul.propositionList li:last-child{
	box-shadow: -6px 0 white, 6px 0 white, 0 6px 4px -2px white;
	padding-bottom: 0;
	margin-bottom: 0;
}