<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css" />
<link rel="stylesheet" href="css/custom-style.css">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet"
	href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />

<script src="https://code.angularjs.org/1.4.8/angular.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-messages.js"></script>

<script
	src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script
	src="https://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>

<script src="model/app.module.cadastrochp1.js"></script>
<script src="controller/app.controller.cadastrochp1V2.js"></script>
<script src="js/smart-table.js"></script>
<script src='js/ngMask.min.js'></script>


<script language="JavaScript" type="text/javascript">
	function gerarPlanilha() {
		var servlet = "https://intranet.orsegups.com.br/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=planilhaCHIP";
		document.location.href = servlet;
	}

	function gerarPlanilhaRegionais() {
		var servlet = "https://intranet.orsegups.com.br/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=planilhaRegionais";
		document.location.href = servlet;
	}

	function gerarRelatorio3() {
		var servlet = "https://intranet.orsegups.com.br/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=relatorioChp13";
		document.location.href = servlet;
	}

	function gerarRelatorio4() {
		var servlet = "https://intranet.orsegups.com.br/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=relatorioChp14";
		document.location.href = servlet;
	}
</script>

<title>Cadastro CHP1</title>
</head>
<body>
	<div ng-controller="appcontrollercadastrochp1V2">
		<section id=main>
			<div class="container-fluid" align="center">
				<div class="page-header">
					<h1>Cadastro - CHP1</h1>
				</div>
				<div class="row" align="center" width="98%">
					<div class="col-md-12">
						<div class="panel with-nav-tabs panel-primary">
							<div class="panel-heading">
								<ul class="nav nav-tabs" overrides>
									<li class="active"><a href="#tab1primary"
										data-toggle="tab">CHIP GPRS</a></li>
									</li>
									<li><a class="a" href="#tab2primary" data-toggle="tab">RELATÓRIOS</a>
								</ul>
							</div>
							<div class="panel-body" ng-form="chipForm">

								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab1primary">

										<div class="alert alert-success" ng-show="showSuccessAlert">
											<strong> {{successTextAlert}} </strong>
										</div>

										<div class="alert alert-warning" ng-show="showWarningAlert">
											<strong> {{warningTextAlert}} </strong>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="panel panel-default">
													<div class="panel-heading">Resultados</div>
													<div class="panel-body">
														<div style="">
															<table>
																<tr>
																	<td width="100%" align="center">
																		<table>
																			<tr>
																				<td colspan="3" align="center"><b>CHIP</b></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Contratados:</td>
																				<td width="10%" align="right"><b>{{contaTotalContratado}}</b><br></td>
																			</tr>
																			<tr>
																				<td colspan="2">Cancelados:</td>
																				<td align="right"><span style="color: red"><b>{{contaTotalCancelado}}</b></span><br></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">NEXTI:</td>
																				<td align="right"><span style="color: blue">{{contaTotalNexti}}</span><br></td>
																			</tr>
																			<tr>
																				<td colspan="2">DEGGY:</td>
																				<td align="right"><span style="color: blue">{{contaTotalDeggy}}</span></td>
																			</tr>
																			<tr>
																				<td colspan="2">Rastreamento:</td>
																				<td align="right"><span style="color: blue">{{contaTotalRastreamento}}</span><br></td>
																			</tr>
																			<tr>
																				<td width="10%"></td>
																				<td></td>
																				<td align="right"></td>
																			</tr>
																			<tr>
																				<td></td>
																				<td></td>
																				<td align="right"></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td>Alarme(GPRS):</td>
																				<td colspan="2" align="right">Partições: {{contaTotalGprs}}
																					| Contas SIGMA: <b>{{contaTotalContaGprs}}</b></td>
																			</tr>
																			<tr>
																				<td width="20px"></td>
																				<td>- com CHIP identificado:</td>
																				<td align="right">{{contaSIGMAcomCHIP}}</td>
																			</tr>
																			<tr>
																				<td width="20px"></td>
																				<td>- com Ethernet:</td>
																				<td align="right">{{contaSIGMAcomEthernet}}</td>
																			</tr>
																			<tr>
																				<td width="20px"></td>
																				<td>- falta identificar:</td>
																				<td align="right"><span style="color: red">{{contaSIGMAsemCHIP}}</span></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">CHIP Identificados (em clientes):</td>
																				<td align="right"><span style="color: blue">{{contaIdentificados}}</span></td>
																			</tr>
																			<tr>
																				<td width="20px"></td>
																				<td>- com cliente SIGMA ativo:</td>
																				<td align="right">{{contaAtiva}}</td>
																			</tr>
																			<tr>
																				<td width="20px"></td>
																				<td>- com cliente SIGMA inativo:</td>
																				<td align="right"><span style="color: red">{{contaInativa}}</span></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Estoque TI:</td>
																				<td align="right"><span style="color: blue">{{contaTotalTI}}</span></td>
																			</tr>
																			<tr>
																				<td colspan="2">Estoque TI - Em cancelamento:</td>
																				<td align="right"><span style="color: blue">{{contaTotalTIaCancelar}}</span></td>
																			</tr>
																			<tr>
																				<td colspan="2">Estoque Regionais:</td>
																				<td align="right"><span style="color: blue">{{contaTotalRegionais}}</span></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Total Identificados:</td>
																				<td align="right"><span style="color: blue"><b>{{totalIdentificado}}</b></span></td>
																			</tr>
																			<tr>
																				<td colspan="2">Total Não Identificados:</td>
																				<td align="right"><span style="color: red"><b>{{totalNaoIdentificado}}</b></span></td>
																			</tr>

																		</table>
																	</td>
																</tr>
															</table>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="tab-pane fade" id="tab2primary">
										<div class="embed-responsive embed-responsive-16by9">
											<div class="float_icos">
												<a href="javascript:void(0)" plain="true"
													onclick="gerarPlanilha()">
													<p>
														<img
															src="https://intranet.orsegups.com.br/fusion/imagens/icones_final/report_vis_64x64-trans.png">
													</p>
													<p>
														<strong>Planilha Geral</strong>
													</p>
													<p>Planilha com todo CHIP cadastrado no sistema</p>
												</a>
											</div>
											<div class="float_icos">
												<a href="javascript:void(0)" plain="true"
													onclick="gerarPlanilhaRegionais()">
													<p>
														<img
															src="https://intranet.orsegups.com.br/fusion/imagens/icones_final/report_vis_64x64-trans.png">
													</p>
													<p>
														<strong>Planilha Regionais</strong>
													</p>
													<p>Planilha de CHIP em Regional</p>
												</a>
											</div>
										</div>	
									</div>								
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						var url;
					</script>
					<div class="modal modal-static fade" id="processing-modal"
						name="processing-modal" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="text-center">
										<img src="img/loading.gif" style="height: 80px;" class="icon" />
										<h4>Processando...</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<div class="modal modal-static fade" id="processing-modal"
			name="processing-modal" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="text-center">
							<img src="imagens/loader.gif" style="height: 20px;" class="icon" />
							<h4>Processando...</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>