<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css" />
<link rel="stylesheet" href="css/custom-style.css">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet"
	href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />

<script src="https://code.angularjs.org/1.4.8/angular.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-messages.js"></script>

<script
	src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script
	src="https://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>

<script src="model/app.module.cadastrochp1.js"></script>
<script src="controller/app.controller.cadastrochp1.js"></script>
<script src="js/smart-table.js"></script>
<script src='js/ngMask.min.js'></script>
<script src='js/ng-pattern-restrict.js'></script>

<script language="JavaScript" type="text/javascript">
	function gerarRelatorio1() {
		var servlet = "http://localhost:9090/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=relatorioChp11";
		document.location.href = servlet;
	}

	function gerarRelatorio2() {
		var servlet = "http://localhost:9090/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=relatorioChp12";
		document.location.href = servlet;
	}

	function gerarRelatorio3() {
		var servlet = "http://localhost:9090/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=relatorioChp13";
		document.location.href = servlet;
	}

	function gerarRelatorio4() {
		var servlet = "http://localhost:9090/fusion/servlet/com.neomind.fusion.custom.orsegups.servlets.RelatoriosServlet?action=relatorioChp14";
		document.location.href = servlet;
	}
</script>

<title>Cadastro CHP1</title>
</head>
<body>
	<div ng-controller="appcontrollercadastrochp1">
		<section id=main>
			<div class="container-fluid" align="center">
				<div class="page-header">
					<h1>Cadastro - CHP1</h1>
				</div>
				<div class="row" align="center" width="98%">
					<div class="col-md-12">
						<div class="panel with-nav-tabs panel-primary">
							<div class="panel-heading">
								<ul class="nav nav-tabs" overrides>
									<li class="active"><a href="#tab1primary"
										data-toggle="tab">CHIP GPRS</a></li>
									<li><a class="a" href="#tab2primary" data-toggle="tab">CLIENTE</a></li>
									<li><a class="a" href="#tab3primary" data-toggle="tab">EMPRESA</a></li>
									<li><a class="a" href="#tab4primary" data-toggle="tab">OPERADORA</a>
									</li>
									<li><a class="a" href="#tab5primary" data-toggle="tab">RELATÓRIOS</a>
									</li>
								</ul>
							</div>
							<div class="panel-body" ng-form="chipForm">

								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab1primary">

										<div class="alert alert-success" ng-show="showSuccessAlert">
											<strong> {{successTextAlert}} </strong>
										</div>

										<div class="alert alert-warning" ng-show="showWarningAlert">
											<strong> {{warningTextAlert}} </strong>
										</div>

										<div class="form-group col-md-12 col-sm-12"
											ng-class="{'has-error': chipForm.empresasSelect.$error.required && chipForm.empresasSelect.$dirty}">
											<label class="col-md-2 control-label" for="empresa">Empresa<img
												src="imagens/required_red_16x16-trans.png" width="16"
												height="16" /></label>
											<div class="col-md-10">
												<select ng-options="emp.descricao for emp in empresas"
													name="empresasSelect" id="empresasSelect"
													ng-model="empresaSel" class="form-control input-md"
													ng-required="true">
													<option></option>
												</select>
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12"
											ng-class="{'has-error': chipForm.operadorasSelect.$error.required && chipForm.operadorasSelect.$dirty}">
											<label class="col-md-2 control-label" for="operadora">Operadora<img
												src="imagens/required_red_16x16-trans.png" width="16"
												height="16" /></label>
											<div class="col-md-10">
												<select ng-options="oper.descricao for oper in operadoras"
													name="operadorasSelect" id="operadorasSelect"
													ng-model="operadoraSel" class="form-control input-md"
													ng-required="true">
													<option></option>
												</select>
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12">
											<label class="col-md-2 control-label" for="operadoras2">Operadora2</label>
											<div class="col-md-10">
												<select
													ng-options="oper2.descricao for oper2 in operadoras2"
													name="operadoras2Select" id="operadoras2Select"
													ng-model="operadora2Sel" class="form-control input-md">
													<option></option>
												</select>
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12"
											ng-class="{'has-error': chipForm.ativosSelect.$error.required && chipForm.ativosSelect.$dirty}">
											<label class="col-md-2 control-label" for="ativo">Ativo<img
												src="imagens/required_red_16x16-trans.png" width="16"
												height="16" /></label>
											<div class="col-md-10">
												<select ng-options="rep.value for rep in replicars"
													name="ativosSelect" id="ativosSelect" ng-model="ativoSel"
													class="form-control input-md" ng-required="true">
													<option></option>
												</select>
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12">
											<label class="col-md-2 control-label" for="regionaisSelect">Regional</label>
											<div class="col-md-10">
												<select ng-options="reg.descricao for reg in regionais"
													name="regionaisSelect" id="regionaisSelect"
													ng-model="regionalSel" class="form-control input-md">
													<option></option>
												</select>
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12">
											<label class="col-md-2 control-label" for="propFato">Linha</label>
											<div class="col-md-10">
												<input type="text" class="form-control" id="linha"
													ng-model="linha">
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12"
											ng-class="{'has-error': chipForm.iccid.$error.required && !chipForm.iccid.$pristine && !showSuccessAlert}">
											<label class="col-md-2 control-label" for="propFato">IccId<img
												src="imagens/required_red_16x16-trans.png" width="16"
												height="16" /></label>
											<div class="col-md-10">
												<input type="text" class="form-control" id="iccidSel"
													name="iccid" ng-model="iccid" ng-disabled="habilitadoIccId"
													ng-required="true"
													ng-click="showSuccessAlert = false; showWarningAlert = false" />
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12">
											<label class="col-md-2 control-label" for="propFato">Dt.Cancelamento</label>
											<div class="col-md-10">
												<input type="text" class="form-control"
													id="dataCancelamentoFormatada"
													ng-model="dataCancelamentoFormatada"
													ng-disabled="habilitadoDataCancelamento" mask="39/19/9999"
													ng-model="date" />
											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12">
											<div class="col-md-5"></div>
											<div class="col-md-1">
												<input type="button" ng-click="inserir()" id="inserir"
													name="inserir" data-toggle="modal"
													data-target="#processing-modal"
													ng-disabled="chipForm.$invalid"
													class="btn btn-primary pull-left btn-pesquisar"
													value="{{botaoSalvarAtualizar}}">
											</div>
											<div class="col-md-1">
												<input type="button"
													ng-click="limpar(); showSuccessAlert = false; showWarningAlert = false;"
													id="limpar" name="limpar" data-toggle="modal"
													class="btn btn-primary pull-left btn-pesquisar"
													value="Limpar">
											</div>
											<div class="col-md-5"></div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="panel panel-default">
													<div class="panel-heading">Resultados</div>
													<div class="panel-body">
														<div style="">
															<table>
																<tr>
																	<td width="48%" align="left">
																		<table>
																			<tr>
																				<td colspan="3" align="center"><b>CHIP</b></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Contratados:</td>
																				<td width="10%" align="right"><b>{{contaTotalContratado}}</b><br></td>
																			</tr>
																			<tr>
																				<td colspan="2">Cancelados:</td>
																				<td align="right"><span style="color: red"><b>{{contaTotalCancelado}}</b></span><br></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">NEXTI:</td>
																				<td align="right"><b>{{contaTotalNexti}}</b><br></td>
																			</tr>
																			<tr>
																				<td colspan="2">DEGGY:</td>
																				<td align="right"><b>{{contaTotalDeggy}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="2">Rastreamento:</td>
																				<td align="right"><b>{{contaTotalRastreamento}}</b><br></td>
																			</tr>
																			<tr>
																				<td width="10%"></td>
																				<td>AUTO CARGO:</td>
																				<td align="right">{{contaTotalAC}}</td>
																			</tr>
																			<tr>
																				<td></td>
																				<td>Fulltrack:</td>
																				<td align="right">{{contaTotalFT}}</td>
																			</tr>
																			<tr>
																				<td>Alarme(GPRS):</td>
																				<td colspan="2" align="right">Partições: <b>{{contaTotalGprs}}</b>
																					| Contas SIGMA: <b>{{contaTotalContaGprs}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="2">Identificados (em clientes):</td>
																				<td align="right"><b>{{contaIdentificados}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="2">Não Identificados:</td>
																				<td align="right"><span style="color: red"><b>{{contaNaoIdentificados}}</b></span></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Estoque TI:</td>
																				<td align="right"><b>{{contaTotalTI}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="2">Estoque TI(à cancelar):</td>
																				<td align="right"><b>{{contaTotalTIaCancelar}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="2">Estoque Regionais:</td>
																				<td align="right"><b>{{contaTotalRegionais}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Total Identificados:</td>
																				<td align="right"><b>{{totalIdentificado}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="2">Total Não Identificados:</td>
																				<td align="right"><span style="color: red"><b>{{totalNaoIdentificado}}</b></span></td>
																			</tr>

																		</table>
																	</td>
																	<td width="4%"></td>
																	<td width="48%" align="right">
																		<table>
																			<tr>
																				<td colspan="3" align="center"><b>OS</b></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Encaronadas:</td>
																				<td width="10%" align="right"><b>{{contaTotalEncaronada}}</b></td>
																			</tr>
																			<tr>
																				<td colspan="2">Geraram Tarefas de Validação:</td>
																				<td align="right"><b>{{contaValidacao}}</b></td>
																			</tr>
																			<tr>
																				<td width="10%"></td>
																				<td>Positivas:</td>
																				<td align="right"><span style="color: blue">{{contaValidacaoPositiva}}</span></td>
																			</tr>
																			<tr>
																				<td></td>
																				<td>Negativas:</td>
																				<td align="right"><span style="color: red">{{contaValidacaoNegativa}}</span></td>
																			</tr>
																			<tr>
																				<td></td>
																				<td>Aguardando:</td>
																				<td align="right"><span style="color: green">{{contaValidacaoAguardando}}</span></td>
																			</tr>
																			<tr>
																				<td colspan="3">------------------------------------------------------------------------------------------</td>
																			</tr>
																			<tr>
																				<td colspan="2">Geraram OS Complementar e
																					Tarefas de Justificativa:</td>
																				<td align="right"><b>{{contaOSComplementar}}</b></td>
																			</tr>
																			<tr>
																				<td></td>
																				<td colspan="2"></td>
																			</tr>
																			<tr>
																				<td colspan="3">
																					------------------------------------------------------------------------------------------<br>


																					<br> <br> <br> <br> <br> <br>
																					<br> <br> <br>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>

														</div>
														<div>
															<br> <br> <br>
														</div>
														<div align="left">
															<b>Situação:</b> &nbsp;<input type="checkbox"
																ng-change="filtrar(search);" ng-model="search.cancelado"
																checked />&nbsp;Cancelados&nbsp;&nbsp;
																<input type="checkbox"
																ng-change="filtrar(search);" ng-model="search.habilitado"
																checked />&nbsp;Habilitados
																
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															
															<b>Estoque:</b> &nbsp;<input type="checkbox"
																ng-change="filtrar(search);"
																ng-model="search.emCliente" checked />&nbsp;Em cliente&nbsp;&nbsp;
																<input type="hidden"
																ng-change="filtrar(search);"
																ng-model="search.emEstoque" checked />&nbsp;<!-- Em estoque  -->

														</div>

														<div class="table-responsive"
															data-ng-init="filtrar(search);">

															<table class="table table-striped">
																<thead>
																	<tr>
																		<th><a href=""
																			ng-click="order('empresa.descricao')">Empresa</a></th>
																		<th><a href=""
																			ng-click="order('operadora.descricao')">Operadora/Operadora2</a></th>
																		<th><a href="" ng-click="order('linha')">Linha</a></th>
																		<th><a href="" ng-click="order('iccId')">IccID</a></th>
																		<th><a href=""
																			ng-click="order('regional.descricao')">Regional</a></th>
																		<th><a href=""
																			ng-click="order('dataCancelamentoFormatada')">Dt.Cancelamento</a></th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td><input type="text" class="input-filter"
																			ng-change="filtrar(search);"
																			ng-model="search.empresa" /></td>
																		<td><input type="text" class="input-filter"
																			ng-change="filtrar(search);"
																			ng-model="search.operadora" /></td>
																		<td><input type="text" class="input-filter"
																			ng-change="filtrar(search);" ng-model="search.linha" /></td>
																		<td><input type="text" class="input-filter"
																			ng-change="filtrar(search);" ng-model="search.iccId" /></td>
																		<td><input type="text" class="input-filter"
																			ng-change="filtrar(search);"
																			ng-model="search.regional" /></td>
																		<td><input type="text" class="input-filter"
																			ng-model="search.dataCancelamentoFiltrada"
																			mask="39/19/9999" ng-pattern-restrict="\d+"
																			ng-change="filtrar(search);" /></td>
																	</tr>
																	<tr ng-repeat="x in chipes" ng-class-odd="'odd'">
																		<td>{{ x.empresa.descricao }}</td>
																		<td>{{ x.operadora.descricao
																			}}/{{x.operadora2.descricao }}</td>
																		<td>{{ x.linha }}</td>
																		<td>{{ x.iccId }}</td>
																		<td>{{ x.regional.descricao }}</td>
																		<td>{{ x.dataCancelamentoFormatada }}</td>
																		<td><button
																				ng-click="editar(x);" onclick="window.scrollTo(0,0);">Editar</button></td>

																	</tr>
																	<tr>
																		<td colspan="10">TOTAL <b>
																				{{pagination.totalItems}}</b> registros
																		</td>
																	</tr>
																	<tr>
																		<td colspan="10" align="center"><pagination
																				ng-model="pagination.currentPage"
																				total-items="pagination.totalItems"
																				max-size="pagination.numPerPage"
																				ng-change="filtrar(search);" boundary-links="true"
																				first-text="Início" last-text="Fim"
																				previous-text="Anterior" next-text="Próximo">
																			</pagination></td>
																	</tr>
																</tbody>
															</table>


														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<div class="tab-pane fade" id="tab2primary">
										<div class="form-group col-md-12 col-sm-12">
											<label class="col-md-3 control-label" for="cpf">ContaSIGMA/Particao/Razão</label>
											<div class="col-md-9">
												<tags-input ng-model="tags" key-property="cdCliente"
													display-property="empresaParticaoRazao"
													placeholder="Digite aqui"
													replace-spaces-with-dashes="false" add-on-paste="false"
													value="{{tags.cdCliente}}"> <auto-complete
													source="pesquisarCliente($query)" min-length="4"
													max-results-to-show="10"> </auto-complete> </tags-input>

											</div>
										</div>

										<div class="form-group col-md-12 col-sm-12">
											<label class="col-md-3 control-label" for="cpf">Replicar
												para todas as Partições</label>
											<div class="col-md-1">
												<select ng-model="replicar"
													ng-options="replicar.value for replicar in replicars">

												</select>
											</div>
											<div class="col-md-8"></div>
										</div>

										<div class="form-group col-md-12 col-sm-12">
											<label class="col-md-3 control-label" for="chp">Chip(IccId)</label>
											<div class="col-md-9">
												<tags-input ng-model="tags2" key-property="id"
													display-property="descricao" placeholder="Digite aqui"
													replace-spaces-with-dashes="false" add-on-paste="false"
													value="{{tags2.id}}"> <auto-complete
													source="pesquisarChip($query)" min-length="4"
													max-results-to-show="10"> </auto-complete> </tags-input>
											</div>

											<div class="form-group col-md-12 col-sm-12">
												<div class="col-md-2"></div>
												<div class="col-md-2">
													<input type="button" ng-click="inserirClienteChip()"
														id="inserir" name="inserir" data-toggle="modal"
														data-target="#processing-modal"
														class="btn btn-primary pull-left btn-pesquisar"
														value="Inserir">
												</div>
												<div class="col-md-8"></div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="panel panel-default">
														<div class="panel-heading">Resultados</div>
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-striped">
																	<thead>
																		<tr>
																			<th><a href=""
																				ng-click="orderCliente('cliente.razaoSocial')">Nome/Razão
																					- Conta[Partição]</a></th>
																			<th><a href=""
																				ng-click="orderCliente('chp1.iccId')">Chip</a></th>
																			<th><a href=""
																				ng-click="orderCliente('dataInstalacao')">Data
																					Instalação</a></th>
																			<th><a href=""
																				ng-click="orderCliente('dataRemocao')">Data
																					Remoção</a></th>
																			<th><a href="" ng-click="">Opções</a></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td><input type="text"
																				ng-model="searchCliente.cliente.razaoSocial" /></td>
																			<td><input type="text"
																				ng-model="searchCliente.chp1.iccId" /></td>
																			<td><input type="text"
																				ng-model="searchCliente.dataInstalacao" /></td>
																			<td><input type="text"
																				ng-model="searchCliente.dataRemocao" /></td>
																			<td><button
																					ng-click="filtrarCliente(searchCliente.cliente.razaoSocial,searchCliente.chp1.iccId,searchCliente.dataInstalacao,searchCliente.dataRemocao);"
																					data-toggle="modal" data-target="#processing-modal">Filtrar</button>
																			</td>
																		</tr>
																		<tr ng-repeat="y in chipClientes" ng-class-odd="'odd'">
																			<td>{{ y.descricao }}</td>
																			<td>{{ y.chp1.iccId }}</td>
																			<td>{{ y.dataInstalacaoFormatada }}</td>
																			<td>{{ y.dataRemocaoFormatada }}</td>
																			<td>
																				<button ng-click="verOs();"
																					ng-hide="{{ y.idOrdem != null }}">OS</button>
																				<button ng-click="remover(y);"
																					ng-hide="{{ y.dataRemocaoFormatada != null }}">Rem.</button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab3primary">
										<!-- E-form histórico cobrança -->
										<div class="embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item"
												src="http://localhost:9090/fusion/portal/render/FormList?type=Chp1Empresa&showPages=true&edit=false&creatable=false"></iframe>
										</div>
									</div>
									<div class="tab-pane fade" id="tab4primary">
										<!-- E-form histórico cobrança -->
										<div class="embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item"
												src="http://localhost:9090/fusion/portal/render/FormList?type=Chp1Operadora&showPages=true&edit=false&creatable=false"></iframe>
										</div>
									</div>
									<div class="tab-pane fade" id="tab5primary">
										<div class="embed-responsive embed-responsive-16by9">
											<div class="float_icos">
												<a href="javascript:void(0)" plain="true"
													onclick="gerarRelatorio1()">
													<p>
														<img
															src="http://localhost:9090/fusion/imagens/icones_final/report_vis_64x64-trans.png">
													</p>
													<p>
														<strong>Relatorio 1</strong>
													</p>
													<p>Clientes com Regionais Vinculadas</p>
												</a>
											</div>
											<div class="float_icos">
												<a href="javascript:void(0)" plain="true"
													onclick="gerarRelatorio2()">
													<p>
														<img
															src="http://localhost:9090/fusion/imagens/icones_final/report_vis_64x64-trans.png">
													</p>
													<p>
														<strong>Relatorio 2</strong>
													</p>
													<p>Clientes Removidos</p>
												</a>
											</div>
											<div class="float_icos">
												<a href="javascript:void(0)" plain="true"
													onclick="gerarRelatorio3()">
													<p>
														<img
															src="http://localhost:9090/fusion/imagens/icones_final/report_vis_64x64-trans.png">
													</p>
													<p>
														<strong>Relatorio 3</strong>
													</p>
													<p>Chips Inativos em Clientes</p>
												</a>
											</div>
											<div class="float_icos">
												<a href="javascript:void(0)" plain="true"
													onclick="gerarRelatorio4()">
													<p>
														<img
															src="http://localhost:9090/fusion/imagens/icones_final/report_vis_64x64-trans.png">
													</p>
													<p>
														<strong>Relatorio 4</strong>
													</p>
													<p>Chips Cadastrados em clientes</p>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						var url;
					</script>
					<div class="modal modal-static fade" id="processing-modal"
						name="processing-modal" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="text-center">
										<img src="img/loading.gif" style="height: 80px;" class="icon" />
										<h4>Processando...</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<div class="modal modal-static fade" id="processing-modal"
			name="processing-modal" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="text-center">
							<img src="imagens/loader.gif" style="height: 20px;" class="icon" />
							<h4>Processando...</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>