* {
	outline: none !important;
	
}
input, select {
	box-shadow: none !important;
}
body {
	 /*background-color: #fbfbfb*/	
}
.container-form {
	background-color: #fbfbfb;
    padding-top: 15px;
    border-radius: 2px;
    border: 1px solid #ddd;
    
}

table {
	font-size: 12px;
	color: #5A6374;
	border: 1px solid #ddd;
	border-radius: 2px;
}

table thead {
	background-color: #FFF;
}
 table  th {
 	border: 1px solid #ddd;
 	vertical-align: middle !important;
 	text-align: center;
 }

table .center {
	text-align: center;
	vertical-align: middle;
}

.cursor {
	cursor: pointer;
}

 tr:nth-child(even) {
	background-color: #f6f6f6 ;
}
 tr:nth-child(odd) {
	background-color: #fcfcfc;
}

td {
	vertical-align: middle !important;
}

#resultados {
	padding-top: 10px;
	margin-left: 5px;
    margin-right: 5px;
}

#exportBtnContainer {
	position: fixed;
	bottom: 0px;
	height: 35px;
	text-align: right;
	border-top: 1px solid #ddd;
	background-color: #eff4f9;
	width: 100%;
	line-height: 35px;
	vertical-align: middle;
	padding-right: 10px;
	
}


#page {
	height: 100%;
	overflow-y: scroll;
	/*padding-bottom: 35px;*/
}


/* ========================================================================
   Component: preloader.less
 ========================================================================== */
/*@noflip*/
.preloader {
    position: fixed;
 	top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;

 

  overflow: hidden;
  background-color: #eff4f9;
  background-image: -webkit-linear-gradient(90deg, #eff4f9 10%, #dce7f2 90%);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(90deg, #eff4f9 10%, #dce7f2 90%);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(90deg, #eff4f9 10%, #dce7f2 90%);
  /* IE10 */
  background-image: -o-linear-gradient(90deg, #eff4f9 10%, #dce7f2 90%);
  /* Opera 11.10+ */
  background-image: linear-gradient(90deg, #eff4f9 10%, #dce7f2 90%);
  /* W3C */
  z-index: 9999;
  -webkit-transition: opacity 0.65s;
  -o-transition: opacity 0.65s;
  transition: opacity 0.65s;
}
/*@noflip*/
.preloader-progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 30px;
  margin: auto;
  overflow: auto;
  background-image: url(../img/preloader/preloader.empty.png);
  background-size: 100px 30px;
}
/*@noflip*/
.preloader-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 10px;
  background-image: url(../img/preloader/preloader.full.png);
  background-size: 100px 30px;
}
.preloader-hidden {
  display: none;
}
.preloader-hidden-add {
  opacity: 1;
  display: block;
}
.preloader-hidden-add .preloader-progress {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.preloader-hidden-add-active {
  opacity: 0;
}
.align-loader-ie {
  display: -ms-flexbox !important;
}
.preloaderCircular {
  display: flex!important;
  margin-right: auto;
  margin-left: auto;
  top: 45%;
}
/* 	This was created for Neomind by Carlos Costa at 11/SET/2015
	This was based at http://materializecss.com/preloader.html
*/
.preloaderCircular {
  animation: spin 1568ms linear infinite;
  display: inline-flex;
  display: -ms-inline-flexbox;
  height: 16px;
  width: 16px;
  position: relative;
  text-align: justify;
  /*Prevent bug in some pages*/
  /* loader-size-md */
  /* size60px */
}
.preloaderCircular .spinner {
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  display: inline-flex;
  display: -ms-inline-flexbox;
  height: 16px;
  width: 16px;
  position: relative;
}
.preloaderCircular .spinner .left,
.preloaderCircular .spinner .right {
  display: inline-block;
  height: 16px;
  width: 8px;
  overflow: hidden;
  position: relative;
}
.preloaderCircular .spinner .left:after,
.preloaderCircular .spinner .right:after {
  border-radius: 50%;
  content: '';
  height: 16px;
  width: 16px;
  position: absolute;
}
.preloaderCircular .spinner .left:after {
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
  box-shadow: inset #6b7486 0 0 0 2.5px;
  clip: rect(0, 8px, 16px, 0);
}
.preloaderCircular .spinner .right:after {
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
  box-shadow: inset #6b7486 0 0 0 2.5px;
  clip: rect(0, 16px, 16px, 8px);
  margin-left: -9px;
}
.preloaderCircular.loader-size-md {
  height: 22px;
  width: 22px;
}
.preloaderCircular.loader-size-md .spinner {
  height: 22px;
  width: 22px;
}
.preloaderCircular.loader-size-md .spinner .left,
.preloaderCircular.loader-size-md .spinner .right {
  height: 22px;
  width: 11px;
}
.preloaderCircular.loader-size-md .spinner .left:after,
.preloaderCircular.loader-size-md .spinner .right:after {
  height: 22px;
  width: 22px;
}
.preloaderCircular.loader-size-md .spinner .left:after {
  clip: rect(0, 11px, 22px, 0);
}
.preloaderCircular.loader-size-md .spinner .right:after {
  clip: rect(0, 22px, 22px, 11px);
  margin-left: -11px;
}
.preloaderCircular.negativeLoader .spinner .left:after {
  box-shadow: inset #eeeeee 0 0 0 2.5px;
}
.preloaderCircular.negativeLoader .spinner .right:after {
  box-shadow: inset #eeeeee 0 0 0 2.5px;
}
.preloaderCircular.warningLoader .spinner .left:after {
  box-shadow: inset #ab9341 0 0 0 2.5px;
}
.preloaderCircular.warningLoader .spinner .right:after {
  box-shadow: inset #ab9341 0 0 0 2.5px;
}
.preloaderCircular.loader-size-lg {
  height: 60px;
  width: 60px;
  /* loader-size-lg negative*/
}
.preloaderCircular.loader-size-lg .spinner {
  height: 60px;
  width: 60px;
}
.preloaderCircular.loader-size-lg .spinner .left,
.preloaderCircular.loader-size-lg .spinner .right {
  height: 60px;
  width: 30px;
}
.preloaderCircular.loader-size-lg .spinner .left:after,
.preloaderCircular.loader-size-lg .spinner .right:after {
  box-shadow: inset #6b7486 0 0 0 5px;
  height: 60px;
  width: 60px;
}
.preloaderCircular.loader-size-lg .spinner .left:after {
  clip: rect(0, 30px, 60px, 0);
}
.preloaderCircular.loader-size-lg .spinner .right:after {
  clip: rect(0, 60px, 60px, 30px);
  margin-left: -30px;
}
.preloaderCircular.loader-size-lg.negative .spinner .left:after,
.preloaderCircular.loader-size-lg.negative .spinner .right:after {
  box-shadow: inset #eeeeee 0 0 0 5px;
  left: 0 !important;
  top: 0 !important;
}
/**************************************************************/
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(170deg);
  }
  to {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes left-spin {
  from {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(170deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-170deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
  }
}
@keyframes right-spin {
  from {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-170deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
  }
}
@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

#loading {
	display: none;
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	
	
}
#loading .preloader {
	margin: 0 auto;
}

.justify-text {
	    text-align: justify;
}

.center-text {
		text-align: center;
	
}
.text-normal {
		font-size: 12px ;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.col-small {
	width: 30px;
}

textarea, textarea:hover {
	box-shadow: none !important;
}

.autocomplete-loading {
	position: absolute;
	right: -3px;
}