.space{
  margin-bottom: 10px;
}

.btn-space{
  margin-top: 25px;
  margin-bottom: 10px;
}

.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;

  margin-left: 100%;
}

.ng-enter-active {
  margin-left: 0;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;

  margin-left: 0;
}

.ng-leave-active {
  margin-left: 100%;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;

  background: gold;
}

.ng-move-active {
  background: #fff;
}
