<!DOCTYPE html>
<html ng-app="appGrafico">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/styleCustom.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome-animation.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome-animation.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>



<title>Gráfico</title>
</head>
<body data-target="#processing-modal" ng-controller="appontrollergrafico" ng-init="buscarDadosGrafico('0','li-todos')">
	<div class="modal modal-static fade" id="processing-modal" name="processing-modal" role="dialog" aria-hidden="true" >
	    <div class="modal-dialog"  >
	        <div class="modal-content">
	            <div class="modal-body"  >
	                <div class="text-center"   >	               
						<img src="../img/loading.gif" style="height: 80px;" class="icon" />
             			<h4>Processando... </h4>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div id="container-diario" ng-class="graficoDiario"></div>
	<div id="container-mensal" ng-class="graficoMensal"></div>
	<div id="container-horario" ng-class="graficoHorario"></div>
	<nav class="navbar navbar-default nav-graficos">
  		<div class="container">
	  		<ul class="nav navbar-nav navbar-grafico">
		        <li class="li-group ativo" id="li-por-minuto"><a class="a-navbar" href="" ng-click="buscarDadosGrafico('7','li-por-minuto')">Por minuto</a></li>
		        <li class="li-group" id="li-por-hora"><a class="a-navbar" href="" ng-click="buscarDadosGrafico('1', 'li-por-hora')">Por hora</a></li>
		        <li class="li-group" id="li-por-horario"><a class="a-navbar" href="" ng-click="buscarDadosGrafico('0', 'li-por-horario')">Por horário</a></li>
		        <li class="li-group" id="li-por-dia"><a class="a-navbar" href="" ng-click="buscarDadosGrafico('3', 'li-por-dia')">Por dia</a></li>
		        <li class="li-group" id="li-por-dia-semana"><a class="a-navbar" href="" ng-click="buscarDadosGrafico('2', 'li-por-dia-semana')">Por dias semana</a></li>
		        <li class="li-group" id="li-todos"><a class="a-navbar" href="" ng-click="buscarDadosGrafico('0','li-todos')">Todos diários</a></li>
		        <li class="li-group" id="li-por-mes"><a class="a-navbar" href="" ng-click="buscarDadosGrafico('0','li-por-mes')">Mensal</a></li>
		    </ul>
	  	</div>
	</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>


<script src="../js/angular.min.js"></script>
<script src="../module/app.module.grafico.js"></script>
<!-- Factory -->
<script src="../controller/app.controller.grafico.js"></script>
			
<script type="text/javascript" src="../js/custom-grafico-jobs.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>

</body>
</html>