@font-face {
  font-family: 'EncodeSans-Black';
  src: url('EncodeSans-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'EncodeSans-Bold';
  src: url('EncodeSans-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-ExtraBold';
  src: url('EncodeSans-ExtraBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-ExtraLight';
  src: url('EncodeSans-ExtraLight.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-Light';
  src: url('EncodeSans-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-Medium';
  src: url('EncodeSans-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-Regular';
  src: url('EncodeSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-SemiBold';
  src: url('EncodeSans-SemiBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-Thin';
  src: url('EncodeSans-Thin.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
  font-style: normal;
}