/*
[Title]
*/
.title {
	font-size: 50px;
	text-align: center;
	transition: 1s;
	left: 0;
}

.imagem {
	width: 368px;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
	font-family: Lato-Regular;
	src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: Lato-Bold;
	src: url('../fonts/Lato/Lato-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/* ------------------------------------ */
textarea {
	display: block;
	outline: none;
}

/* ------------------------------------ */
button:hover {
	cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
	position: relative;
}

.table100 .ps__rail-y {
	width: 9px;
	background-color: transparent;
	opacity: 1 !important;
	right: 5px;
}

.table100 .ps__rail-y::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #ebebeb;
	border-radius: 5px;
	width: 100%;
	height: calc(100% - 5px);
	left: 0;
	top: 2px;
}

.table100 .ps__rail-y .ps__thumb-y {
	width: 100%;
	height: 20px !important; right : 0;
	opacity: 1 !important;
	right: 0;
}

.table100 .ps__rail-y .ps__thumb-y::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #cccccc;
	border-radius: 5px;
	width: 100%;
	height: calc(100% - 30px);
	left: 0;
	top: 15px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.limiter {
	width: 99%;
	margin: 0 auto;
}

.container-table100 {
	width: 100%;
	min-height: 10vh;
	background: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px 10px;
}

.wrap-table100 {
	width: 90%;
}
/*///////////////////////////////////////////////////////////////////
[Loading]
*/
.modal {
	display: block;
	position: fixed;
	z-index: 1000;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8)
		url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
	background-color: #fff;
}

table {
	width: 100%;
}

th, td {
	font-weight: unset;
	padding-right: 0px;
}

.column1 {
	width: 30%;
	padding-left: 40px;
}

.column2 {
	width: 14%;
}

.column3 {
	width: 15%;
}

.column4 {
	width: 13%;
}

.column5 {
	width: 10%;
}

.column6 {
	width: 10%;
}

.column7 {
	width: 10%;
}

.table100-head th {
	padding-top: 18px;
	padding-bottom: 18px;
}

.table100-body td {
	padding-top: 16px;
	padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
	position: relative;
	padding-top: 60px;
}

.table100-head {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.table100-body {
	max-height: 585px;
	overflow: auto;
}

/*==================================================================
[ Ver2 ]*/
.table100.ver2 .table100-head {
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.table100.ver2 th {
	font-family: Lato-Bold;
	font-size: 18px;
	color: #626262;
	line-height: 1.4;
	background-color: transparent;
}

.table100.ver2 td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.4;
}

.table100.ver2 .table100-body tr {
	border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/
.table100.ver2 {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 7px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver2 .ps__rail-y {
	right: 5px;
}

.table100.ver2 .ps__rail-y::before {
	background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
	background-color: #cccccc;
} /*------------------------------------------*/
/*
form class
*/
.form {
	margin-left: 10%;
}

} /*------------------------------------------*/
/*
calendar class
*/
.calendar {
	display: inline !important;
}

.input-group-text {
	display: list-item !important;
}

.input-group {
	display: inline-flex !important;
}
/*-------------------------------------------*/
.botoesBaixo {
	margin-left: 10%;
}

/*------------------------------------------*/
/*
button class
*/
.button {
	border: 1px solid #0a3c59;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7),
		to(#3e779d));
	background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	background: -ms-linear-gradient(top, #65a9d7, #3e779d);
	background: -o-linear-gradient(top, #65a9d7, #3e779d);
	background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
	padding: 5px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset
		rgba(255, 255, 255, 0.4) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset
		rgba(255, 255, 255, 0.4) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset
		rgba(255, 255, 255, 0.4) 0 1px 0;
	text-shadow: #7ea4bd 0 1px 0;
	color: #06426c;
	font-size: 14px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: 900;
}

.button:hover {
	border: 1px solid #0a3c59;
	text-shadow: #1e4158 0 1px 0;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7),
		to(#3e779d));
	background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	background: -ms-linear-gradient(top, #65a9d7, #3e779d);
	background: -o-linear-gradient(top, #65a9d7, #3e779d);
	background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
	color: #fff;
}

.button:active {
	text-shadow: #1e4158 0 1px 0;
	border: 1px solid #0a3c59;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#3e779d));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
	color: #fff;
}
/*
   DROPDOWN STYLE
   */
select#status, select#status-color {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 10px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png),
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	color: #555;
	font-size: inherit;
	margin: 20px;
	overflow: hidden;
	padding: 5px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 220px;
}

#mainselection select {
	border: 0;
	color: #EEE;
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 10px;
	width: 378px;
	*width: 350px;
	*background: #58B14C;
	-webkit-appearance: none;
}
select#status2, select#status-color {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 10px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png),
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	color: #555;
	font-size: inherit;
	margin: 20px;
	overflow: hidden;
	padding: 5px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 220px;
}