<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Controle Rotas2</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">

<link rel="stylesheet" href="css/font-awesome.min.css">

<link rel="stylesheet" href="css/font-awesome-animation.min.css">

<link rel="stylesheet" href="css/custom.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="appcontroller">
		
		<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-window-close"></i></a>
		  
	          <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Automatizar rota <i class="fa fa-caret-down"></i></a>
	            <div class="collapse list-group-submenu" id="SubMenu1">
	              <a href="javascript:void(0)" data-toggle="modal" data-target="#modalAtivar" class="list-group-item" data-parent="#SubMenu1">Habilitar TODAS</a>
	              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modalDesativar" class="list-group-item" data-parent="#SubMenu1">Desabilitar TODAS</a>              
	            </div>
	            					
		</div>
		
		<div id="main" class="container-fluid center-block">
		
			<div class="row">
				
				<div class="col-md-12">
					<div class="jumbotron">
						<h1><b>Controle de rotas</b> <span class="pull-right" ng-click="eaterEgg()"><i ng-class="moto" aria-hidden="true"></i><span class="easterCount" ng-show="easterCount > 5">{{easterCount}}</span></span></h1>
					</div>
				</div>
				
		
				<div class="col-md-12">
					<div class="input-group space">
	      				<input type="text" class="form-control" id="query" ng-model="query" placeholder="Pesquise...">
					    <span class="input-group-btn">
	        				<button class="btn btn-default" ng-click="cleanSearch()" type="button">Limpar</button>
	      				</span>
	      				<span class="input-group-btn">
	        				<button class="btn btn-default"  ng-click="showRotas()" type="button"><i ng-class="showRotasClass" aria-hidden="true"></i></button>
	      				</span>
	      				<span class="input-group-btn">
	      					<button class="btn btn-default"  onclick="openNav()" type="button"><i class="fa fa-cogs"></i></button>	        				
	      				</span>
	    			</div>
	    		</div>
		  
				
					
				<ul class="list-unstyled">
				
					<li>
					
						<div class="col-md-12">
							<div class="panel panel-danger"">
								<div class="panel-heading">
									<h3 class="panel-title"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Viaturas sem rota efetiva </h3>
									<span class="pull-right clickable panel-collapsed"> 
										<i	class="glyphicon glyphicon-chevron-down"></i>
									</span>
								</div>
								<div class="panel-body" style="display: none;" >
									<div class=col-md-12>
										<div class="col-md-6">
											<p><b>Viatura</b></p>
										</div>
										
										<div class="col-md-2">
											<p><b>Selec. Rota Efetiva</b></p>
										</div>
										
										<div class="col-md-2">
											<p><b>Controlar Rota efetiva</b></p>										
										</div>
	
										<div class="col-md-2">
											<p class="pull-right"><b>Automatizar</b></p>
										</div>
									</div>
									<div ng-repeat="regional in painel | orderBy:'nomeRegional' track by $index">
									<div class="col-md-12 itemBoxDanger" ng-repeat="viatura in regional.viaturas | filter:filterActiveCars | orderBy:'nomeMotorista' track by $index ">
										<div class="col-md-6">
											{{viatura.nomeMotorista}}
										</div>
										
										<div class="col-md-2">
											<!-- <select ng-model="selectedRota" ng-init="selectedRota = (rotas | filter:{nomeRegional:viatura.descricaoViatura}:true)[0]" class="form-control" ng-options="x.nomeRegional for x in rotas | filter: {nomeRegional: regional.nomeRegional} | orderBy: 'nomeRegional' " > -->
											<select ng-model="viatura.rotaEfetiva"  class="form-control" ng-options="x for x in viatura.rotasDisponiveis | orderBy: 'toString()' " >
												
											</select>															
						
										</div>
										
										<div class="col-md-2">
											<div class="col-md-4">
												<button type="button" class="btn btn-danger" ng-click="addRotaEfetiva(viatura)"><i class="fa fa-plus"></i></button>										
											</div>
											<div class="col-md-8">
												<button type="button" class="btn btn-default" ng-click="showListaRotas(viatura)"><i class="fa fa-list"></i> Listar</button>											
											</div>
										</div>
										<div class="col-md-1">
										</div>
										<div class="col-md-2">
											<!-- Rounded switch -->
											<label class="switch pull-right"><input type="checkbox" ng-click="setControleRota(viatura)" ng-model="viatura.controlarRota"><div class="slider danger round"></div></label>
										</div>
									</div>
									</div>
									<!--  -->									
									
								</div>
							</div>
						</div>
					</li>
	
					<li ng-repeat="regional in painel | filter:query | orderBy:'nomeRegional' track by $index">
					
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">{{regional.nomeRegional}} </h3>
									<span class="span-inline">
										<label class="swith-small" id="label{{regional.nomeRegional}}"><input type="checkbox" id="check{{regional.nomeRegional}}" ng-model="regional.controlarRotaRegional" ng-click="setControleRotaRegional(regional.nomeRegional)" ><div class="slider-small round"></div></label>
									</span>
									<span class="pull-right clickable"> 
										<i	class="glyphicon glyphicon-chevron-up"></i>
									</span>
								</div>
								<div class="panel-body">
								
									<div ng-repeat="viatura in regional.viaturas | filter:query | orderBy:'nomeMotorista' track by $index ">
									
									<div class=col-md-12>
										<div class="col-md-6">
											<p><b>Viatura</b></p>
										</div>
										
										<div class="col-md-2">
											<p><b>Selec. Rota Efetiva</b></p>
										</div>
										
										<div class="col-md-2">
											<p><b>Controlar Rota efetiva</b></p>										
										</div>
	
										<div class="col-md-2">
											<p class="pull-right"><b>Automatizar</b></p>
										</div>
									</div>
									<div class="itemBox col-md-12">
										<div class="col-md-6">
											{{viatura.nomeMotorista}}
										</div>
										
										<div class="col-md-2">
											<!-- <select ng-model="selectedRota" ng-init="selectedRota = (rotas | filter:{nomeRegional:viatura.descricaoViatura}:true)[0]" class="form-control" ng-options="x.nomeRegional for x in rotas | filter: {nomeRegional: regional.nomeRegional} | orderBy: 'nomeRegional' " > -->
											<select ng-model="viatura.rotaEfetiva"  class="form-control" ng-options="x for x in viatura.rotasDisponiveis | orderBy: 'toString()' " >
												
											</select>															
						
										</div>
										
										<div class="col-md-2">
											<div class="col-md-4">
												<button type="button" class="btn btn-primary" ng-click="addRotaEfetiva(viatura)"><i class="fa fa-plus"></i></button>										
											</div>
											<div class="col-md-8">
												<button type="button" class="btn btn-default" ng-click="showListaRotas(viatura)"><i class="fa fa-list"></i> Listar</button>											
											</div>
										</div>
										<div class="col-md-1">
										</div>
										<div class="col-md-2">
											<!-- Rounded switch -->
											<label class="switch pull-right"><input type="checkbox" ng-click="setControleRota(viatura)" ng-model="viatura.controlarRota"><div class="slider round"></div></label>
										</div>
										
										<div ng-show="exibicaoCompleta">
										<div class="col-md-12" >
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title">Lista de Rotas ativas </h3>
												</div>
												<div class="panel-body">
													<div class="col-md-12 listaRotaItem" ng-repeat="item in viatura.listaRotasEfetivas">
														<div class="col-md-6">
														</div>
														<div class="col-md-2">
															{{item.nomeRota}}
														</div>
														<div class="col-md-2">
															<button type="button" class="btn btn-danger dangerLista" ng-click="removerRotaEfetivaLista(viatura, item)"><i class="fa fa-times"></i></button>
														</div>											
													</div>	
												</div>
																					
													
											</div>
										</div>
										
										<div class="col-md-12">
											<hr>
										</div>
										</div>
										
										</div>
									</div>
									
									<!-- filter:filterActiveCars -->									
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal fade" id="warning-alert" aria-hidden="true">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title" id="warning-title"></h4>
		        </div>
		        <div class="modal-body">
					<p id="warning-text"></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		        </div>
		      </div>
		      
		    </div>
		  </div>
		
		<div class="modal modal-static fade" id="easterEggModal" name="easterEggModal" aria-hidden="true" >
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		        	<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal">&times;</button>
		        		<h3 class="modal-title">Bom trabalho!</h3>
		        	</div>
		            <div class="modal-body">      	              
						<img src="img/easter-egg.gif" class="icon" />	   
		            </div>
		        </div>
		    </div>
		</div>
		
		  <!-- Modal -->
	  <div class="modal fade" id="modalAtivar" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Atenção!</h4>
	        </div>
	        <div class="modal-body">
	          <p>Você irá ativar todas as  rotas!</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary" ng-click="setControleTodasRotas(1)" data-dismiss="modal">Ativar</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  	  <!-- Modal -->
	  <div class="modal fade" id="modalDesativar" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Atenção!</h4>
	        </div>
	        <div class="modal-body">
	          <p>Você irá desativar todas as  rotas!</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary" ng-click="setControleTodasRotas(0)" data-dismiss="modal">Desativar</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	 	<div class="modal modal-static fade" id="processing-modal" name="processing-modal" role="dialog" aria-hidden="true" >
	    <div class="modal-dialog"  >
	        <div class="modal-content"   >
	            <div class="modal-body"  >
	                <div class="text-center"   >	               
						<img src="img/loading.gif" style="height: 80px;" class="icon" />
	            			<h4>Processando... </h4>
	                </div>
	            </div>
	        </div>
	    </div>
		</div>

		
	<div class="modal fade" id="modalListaRotas" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="modal-title">Lista de rotas da viatura</h3>
				</div>
				<div class="modal-body" id="modal-body">
				<div class="alert alert-success collapse" id="success-alert" role="alert">
  						<strong>Sucesso!</strong> Rota removida.
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Rota</th>
								<th>Remover</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in viaturaLista.listaRotasEfetivas" >
								<td>{{item.nomeRota}}</td>
								<td><button type="button" class="btn btn-danger" ng-click="removerRotaEfetivaLista(viaturaLista, item)">
									<i class="fa fa-times"></i>
									</button>
								</td>
							</tr>						
						</tbody>						
					</table>
				</div>

				</div>
	
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>

		</div>
	</div>




	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/bootstrap/bootstrap.min.js"></script>

	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/angular-animate.min.js"></script>
	<script src="js/angular/angular-ui-bootstrap-tpls-2.5.0.min.js"></script>


	<script src="js/module/app.module.js"></script>
	<!-- <script src="js/factory/app.factory.js"></script> -->
	<script src="js/controller/app.controller.js"></script>	
	<script src="js/custom-effects.js"></script>
	
	<!--<script src="js/effects/custom-effects.js"></script>  -->
	



</body>
</html>
