<!DOCTYPE html>
<html ng-app="pagamentosApp">
<meta charset="UTF-8">
<head>
<!-- JS -->
<script type="text/javascript" src="angular/angular.js"></script>
<script type="text/javascript" src="angular/angular-resource.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="angular/ui-bootstrap-tpls-2.5.0.js"></script>

<script type="text/javascript" src="controller/controller.js"></script>
<script src="../../../bpm/task/central/common/provider/portalutil.js.jsp"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../../../appfusion/assets/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../appfusion/assets/css/neo-bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/timelineStyle.css">
<link rel="stylesheet" type="text/css" href="css/timelineStyle2.css">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="js/timelineJS.js"></script>
<script src="js/timelineJS2.js"></script>

</head>
<body ng-controller="ctrl">
	<div class="">
		<div ng-show="showLoading" class="preloaderCircular size60px" style="left: 50%;">
			<div class="spinner">
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
		<uib-tabset ng-show="!showLoading" active="activeForm" ng-init="activeForm = 0">
			<uib-tab index="0" heading="Pagamentos">
				<div class="well">
					<label>Filtro: <input type="text" ng-model="criteria"></label>
				</div>
				<div class="table-responsive">
					
					<table class="table table-striped table-hover padding4">
						<thead>
							<tr>
								<th nowrap ng-click='sortColumn("codTarefa")' style="cursor: pointer;">Cód. Tarefa   <span class="glyphicon glyphicon-sort"></span></th>
								<th nowrap>Nr Documento</th>
								<th nowrap ng-click='sortColumn("competencia")' style="cursor: pointer;">Competência   <span class="glyphicon glyphicon-sort"></th>
								<th nowrap ng-click='sortColumn("dataVencimento")' style="cursor: pointer;">Data de Vencimento   <span class="glyphicon glyphicon-sort"></th>
								<th nowrap>Valor Pagamento</th>
								<th nowrap ng-click='sortColumn("tipoPagamento")' style="cursor: pointer;">Tipo Pagamento   <span class="glyphicon glyphicon-sort"></th>
								<th nowrap ng-click='sortColumn("fornecedor")' style="cursor: pointer;">Fornecedor   <span class="glyphicon glyphicon-sort"></th>
								<th nowrap ng-click='sortColumn("atividade")' style="cursor: pointer;">Atividade   <span class="glyphicon glyphicon-sort"></th>
								<th nowrap>Filial</th>
								<th nowrap>Contrato</th>
								<th nowrap ng-click='sortColumn("solicitante")' style="cursor: pointer;">Solicitante   <span class="glyphicon glyphicon-sort"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pagamento in pagamentos | filter:criteria | orderBy:column:reverse">
								<td>{{pagamento.codTarefa}}</td>
								<td>{{pagamento.nrDocumento}}</td>
								<td>{{pagamento.competencia}}</td>
								<td>{{pagamento.dataVencimentoStr}}</td>
								<td>{{pagamento.valorPagamento}}</td>
								<td>{{pagamento.tipoPagamento}}</td>
								<td>{{pagamento.fornecedor}}</td>
								<td>{{pagamento.atividade}}</td>
								<td>{{pagamento.filial}}</td>
								<td>{{pagamento.codContrato}}</td>
								<td>{{pagamento.solicitante}}</td>
							</tr>
						</tbody>
					</table>
					<pagination class="center-ul" boundary-links="true" 
						max-size="3"
						total-items="total" 
						ng-model="currentPage" 
						first-text="Primeira"
						last-text="Última"
						next-text="Próxima"
						previous-text="Anterior">
					</pagination>
				</div>
			</uib-tab>
			<uib-tab index="1" heading="Andamento">
				<div class="table-responsive">
					<table class="table table-striped table-hover padding4">
						<thead>
							<tr>
								<th nowrap ng-click='sortColumn("codTarefa")' style="cursor: pointer;">Cód. Tarefa   <span class="glyphicon glyphicon-sort"></span></th>
								<th nowrap>Valor</th>
								<th nowrap ng-click='sortColumn("dataVencimento")' style="cursor: pointer;">Vencimento   <span class="glyphicon glyphicon-sort"></th>
								<th nowrap style="width: 100%">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pagamento in pagamentos | filter:criteria | orderBy:column:reverse">
								<td>{{pagamento.codTarefa}}</td>
								<td>{{pagamento.valorPagamento}}</td>
								<td>{{pagamento.dataVencimentoStr}}</td>
								<td>
									<ul class="timeline timeline-horizontal">
										<span class="filling-line" aria-hidden="true"></span>
								        <li class="timeline-item">
								            <div class="timeline-badge" ng-class="getStatusAtividade(pagamento.atividades.criado.finished);" ng-mouseenter="showTooltip(true, pagamento.codTarefa, 'criado')" ng-mouseleave="showTooltip(false, pagamento.codTarefa, 'criado')"><i class="glyphicon glyphicon-list-alt"></i></div>
								            <div class="timeline-panel" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;"></h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
								                </div>
								                <div class="timeline-body">
								                    <p></p>
								                </div>
								            </div>
								            <div class="timeline-panel timeline-panel2" id="panel_criado{{pagamento.codTarefa}}" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;">Criado</h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{pagamento.atividades.criado.data}}</small></p>
								                </div>
								                <div class="timeline-body">
								                    <p>{{pagamento.atividades.criado.executor}}</p>
								                </div>
								            </div>
								        </li>
								        <li class="timeline-item">
								            <div class="timeline-badge" ng-class="getStatusAtividade(pagamento.atividades.validacao.finished);" ng-mouseenter="showTooltip(true, pagamento.codTarefa, 'validacao')" ng-mouseleave="showTooltip(false, pagamento.codTarefa, 'validacao')"><i class="glyphicon glyphicon-check"></i></div>
								            <div class="timeline-panel" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;"></h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
								                </div>
								                <div class="timeline-body">
								                    <p></p>
								                </div>
								            </div>
								            <div class="timeline-panel timeline-panel2" id="panel_validacao{{aprovacao.nivel}}{{pagamento.codTarefa}}" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;">Validação Dados Controladoria</h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{pagamento.atividades.validacao.data}}</small></p>
								                </div>
								                <div class="timeline-body">
								                    <p>{{pagamento.atividades.validacao.executor}}</p>
								                </div>
								            </div>
								        </li>
								        <li class="timeline-item">
								            <div class="timeline-badge" ng-class="getStatusAtividade(pagamento.atividades.validacaoGerencia.finished);" ng-mouseenter="showTooltip(true, pagamento.codTarefa, 'validacaoGerencia')" ng-mouseleave="showTooltip(false, pagamento.codTarefa, 'validacaoGerencia')"><i class="glyphicon glyphicon-check"></i></div>
								            <div class="timeline-panel" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;"></h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
								                </div>
								                <div class="timeline-body">
								                    <p></p>
								                </div>
								            </div>
								            <div class="timeline-panel timeline-panel2" id="panel_validacaoGerencia{{pagamento.codTarefa}}" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;">Validação Gerência Controladoria</h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{pagamento.atividades.validacaoGerencia.data}}</small></p>
								                </div>
								                <div class="timeline-body">
								                    <p>{{pagamento.atividades.validacaoGerencia.executor}}</p>
								                </div>
								            </div>
								        </li>
								        <li class="timeline-item" ng-repeat="aprovacao in pagamento.atividades.aprovacao">
								            <div class="timeline-badge" ng-class="getStatusAtividade(aprovacao.finished);" ng-mouseenter="showTooltip(true, aprovacao.nivel + pagamento.codTarefa, 'aprovacao')" ng-mouseleave="showTooltip(false, aprovacao.nivel + pagamento.codTarefa, 'aprovacao')"><i class="glyphicon glyphicon-ok"></i></div>
								            <div class="timeline-panel" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;"></h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
								                </div>
								                <div class="timeline-body">
								                    <p></p>
								                </div>
								            </div>
								            <div class="timeline-panel timeline-panel2" id="panel_aprovacao{{aprovacao.nivel}}{{pagamento.codTarefa}}" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;">Aprovação</h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{aprovacao.data}}</small></p>
								                </div>
								                <div class="timeline-body">
								                    <p>{{aprovacao.executor}}</p>
								                </div>
								            </div>
								        </li>
								        <li class="timeline-item">
								            <div class="timeline-badge" ng-class="getStatusAtividade(pagamento.atividades.aprovacaoDiretoria.finished);" ng-mouseenter="showTooltip(true, pagamento.codTarefa, 'aprovacaoDiretoria')" ng-mouseleave="showTooltip(false, pagamento.codTarefa, 'aprovacaoDiretoria')"><i class="glyphicon glyphicon-ok"></i></div>
								            <div class="timeline-panel" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;"></h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
								                </div>
								                <div class="timeline-body">
								                    <p></p>
								                </div>
								            </div>
								            <div class="timeline-panel timeline-panel2" id="panel_aprovacaoDiretoria{{pagamento.codTarefa}}" style="visibility: hidden">
								                <div class="timeline-heading">
								                    <h4 class="timeline-title" style="margin: 0;">Aprovação Diretoria Financeira</h4>
								                    <p style="margin: 0;"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{pagamento.atividades.aprovacaoDiretoria.data}}</small></p>
								                </div>
								                <div class="timeline-body">
								                    <p>{{pagamento.atividades.aprovacaoDiretoria.executor}}</p>
								                </div>
								            </div>
								        </li>
								    </ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</body>
</html>
