<!DOCTYPE html>
<html ng-app="pagamentosApp">
<meta charset="UTF-8">
<head>
<!-- JS -->
<script type="text/javascript" src="angular/angular.js"></script>
<script type="text/javascript" src="angular/angular-resource.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>

<script type="text/javascript" src="controller/controller.js"></script>
<script src="../../../bpm/task/central/common/provider/portalutil.js.jsp"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../../../appfusion/assets/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../appfusion/assets/css/neo-bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/loader.css">
</head>
<body ng-controller="ctrl">
	<div class="well">
		<label>Filtro: <input type="text" ng-model="criteria"></label>
	</div>
	<div class="table-responsive">
		<div ng-show="showLoading" class="preloaderCircular size60px" style="left: 50%;">
			<div class="spinner">
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
		<table ng-show="!showLoading" class="table table-striped table-hover padding4">
			<thead>
				<tr>
					<th ng-click='sortColumn("codTarefa")' style="cursor: pointer;">Cód. Tarefa   <span class="glyphicon glyphicon-sort"></span></th>
					<th>Nr Documento</th>
					<th ng-click='sortColumn("competencia")' style="cursor: pointer;">Competência   <span class="glyphicon glyphicon-sort"></th>
					<th ng-click='sortColumn("dataVencimento")' style="cursor: pointer;">Data de Vencimento   <span class="glyphicon glyphicon-sort"></th>
					<th>Valor Pagamento</th>
					<th ng-click='sortColumn("tipoPagamento")' style="cursor: pointer;">Tipo Pagamento   <span class="glyphicon glyphicon-sort"></th>
					<th ng-click='sortColumn("fornecedor")' style="cursor: pointer;">Fornecedor   <span class="glyphicon glyphicon-sort"></th>
					<th ng-click='sortColumn("atividade")' style="cursor: pointer;">Atividade   <span class="glyphicon glyphicon-sort"></th>
					<th>Filial</th>
					<th>Contrato</th>
					<th ng-click='sortColumn("solicitante")' style="cursor: pointer;">Solicitante   <span class="glyphicon glyphicon-sort"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pagamento in pagamentos | filter:criteria | orderBy:column:reverse">
					<td>{{pagamento.codTarefa}}</td>
					<td>{{pagamento.nrDocumento}}</td>
					<td>{{pagamento.competencia}}</td>
					<td>{{pagamento.dataVencimentoStr}}</td>
					<td>{{pagamento.valorPagamento}}</td>
					<td>{{pagamento.tipoPagamento}}</td>
					<td>{{pagamento.fornecedor}}</td>
					<td>{{pagamento.atividade}}</td>
					<td>{{pagamento.filial}}</td>
					<td>{{pagamento.codContrato}}</td>
					<td>{{pagamento.solicitante}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>
