@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	font: 16px cursive;
	color: #333;
}

/*TABELA*/
table {
	background: #D1DCDF;
	border: 1px solid;
	border-collapse: collapse;
}

table, caption {
	margin: auto;
	width: 800px;
}

caption {
	color: #003D5F;
	font: 700 18px Georgia, "Times New Roman", Times, serif;
	padding: 6px 4px 8px 0px;
	text-transform: uppercase;
}

caption, thead th, tfoot th {
	text-align: center;
}

thead th, tfoot th {
	background: #305761;
	font-weight: 700;
	padding-top: 3px;
}

tbody th, tbody td {
	text-align: left;
	vertical-align: top;
}

tbody tr:hover {
	background: #c0c0c0;
}

tfoot th {
	font: 9px Georgia, "Times New Roman", Times, serif;
	text-align: right;
}

td, th {
	border: 1px dotted;
	padding: 5px;
}

h1 {
	font-family: cursive;
	font-size: 26px;
	font-style: italic;
	color: #006699;
	font-weight: bold;
}

h2 {
	font-family: cursive;
	font-size: 10px;
	font-style: italic;
	color: #036;
	font-weight: bold;
}

h3 {
	font-family: cursive;
	font-size: 22px;
	font-style: italic;
	color: #036;
	font-weight: bold;
}

.pg-ctrl {
	font: bold 16px verdana;
	color: #0063e3;
	text-decoration: none;
	cursor: pointer;
	padding: 4px;
	margin: 0px;
	border: 0px;
}

.pg-normal {
	font: 10px verdana;
	color: #333;
	text-decoration: none;
	cursor: pointer;
	background-color: #f9f9f9;
	padding: 3px 6px;
	margin: 1px;
	border: 1px solid #0063e3;
}

.pg-selected {
	font: 10px verdana;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	background-color: #0063e3;
	padding: 3px 6px;
	margin: 1px;
	border: 1px solid #dde;
}

input[type=submit] {
	background: #c0c0c0;
	color: black;
	font-family: cursive;
}

a {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #6f0000;
}

a:link {
	text-decoration: none;
}

a:link {
	color: #6f0000;
}

a:hover {
	color: #004080;
}
