<script type="text/javascript">
  	$(document).ready(function () {
 	    $("#treeViewDiv").jstree({
 	         "json_data": {
				"ajax": {
 	                "url": "${servletPath}servlet/com.neomind.fusion.custom.orsegups.servlets.ContratoServletUtils",
 	                "data": function(n) {
 	                	return {
 	                		"action": "returnDataTree",
 	                		"neoid" : "${neoid}"
 	                	}
 	                }
 	            }
 	        },
			"ui" : {
				"select_limit" : 1
			},
 	        "plugins": ["themes", "json_data", "ui", "types"],
 	        "themes": {
 	            "theme": "classic",
 	            "dots": true,
 	            "icons": true
 	        },
			"types": {
				"types": {
					"default": {
						"icon": {
							"image" : "imagens/icones_final/trans.gif"
						},
					    "select_node": false,
					    "open_node":   false,
					    "close_node":  false,
					    "create_node": false,
					    "delete_node": false,
						"valid_children" : "default"
					}
				}
			}
 	    }).bind("loaded.jstree", function (event, data) {

 	    	var node = $('#'+"${neoid}");	    	
 	    	var codccu = node.attr('codccu');
 	    	 	    	
			$("#id_processEntity__postosContrato__centroCusto__").val("${neoid}");
			$("#id_txt_processEntity__postosContrato__centroCusto__").attr("selectedvalue", codccu);
			$("#id_txt_processEntity__postosContrato__centroCusto__").val(codccu);
				
			$('a', '#'+"${neoid}").addClass('jstree-clicked');
        });
        
		$("label[for='var_processEntity__postosContrato__centroCustoPai__']").html("&nbsp;");        
 	});

</script>

<div>
	<div id="treeViewDiv" style="float:left" />
</div>