@CHARSET "ISO-8859-1";

.panel-heading{
	background-color: #6b7486 !important;
	color: white !important;
	font-weight: bold;
}

h1, h2, h3, h4, h5{
	font-weight: bold;
}

.span-ajuda{
	background-color: #6b7486 !important;
}
h3{
	display: inline;
}

.btn-pesquisar{
	background-color: #6b7486 !important
}

.ajuda{
	font-size: x-large;
}