<!DOCTYPE html>
<html ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/styleCustom.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome-animation.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome-animation.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>

<script src="../js/angular.min.js"></script>
<script src="../js/smart-table.js"></script>

<title>Painel Jobs</title>
</head>
<body ng-controller="appontroller" data-target="#processing-modal">
	<div class="modal modal-static fade" id="processing-modal" name="processing-modal" role="dialog" aria-hidden="true" >
	    <div class="modal-dialog"  >
	        <div class="modal-content"   >
	            <div class="modal-body"  >
	                <div class="text-center"   >	               
						<img src="../img/loading.gif" style="height: 80px;" class="icon" />
             			<h4>Processando... </h4>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Painel de Jobs <i class="fa fa-refresh" id="refresh-error" aria-hidden="true" title="Atualizar erros" ng-click="atualizarErro()" ng-class="iconRefresh"></i></h3>                    
                </div>
                <div class="" role="alert" ng-class="msgAlerta">Atualizado com sucesso!</div>
				<div class="panel-body" ng-class="painelAlerta">
					<div class="table-responsive">
					
					<table id="table_error" st-table="erros" st-safe-src="errosDisplay" class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th st-sort="nomeJob">Job</th>
								<th st-sort="error">Descrição do Erro</th>
								<th st-sort="detalhes">Detalhes do Erro</th>
								<th st-sort="dataErro">Data</th>
								<th st-sort="sistema">Sistema</th>
								<th class="align-center">Fechar erro</th>
							</tr>
						</thead>
						<tbody id="body-erros">
						<tr class="line-error" ng-repeat = "erro in erros track by $index">
      						<td class="icon-alert"><span class="label-detalhes"><i class="fa fa-warning faa-flash animated"></i></span></td>
      						<td><span class="label-detalhes">{{(dados | filter:{idJob: erro.idJob})[0].nomeJob}}</span></td>
      						<td><span class="label-erro">{{erro.error}}</span></td>
      						<td><span class="label-detalhes">{{erro.detalhes}}</span></td>
      						<td><span class="label-detalhes">{{erro.dataErro}}</span></td>
      						<td><span class="label-sistema">{{erro.sistema}}</span></td>
      						<td class="icon-ok" ng-click="fecharErro(erro, $index)"><span class="label-detalhes faa-parent animated-hover"><i class="fa fa-check faa-vertical"></i></span></td>
      					</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7" class="text-right">
									<div st-pagination="" st-items-by-page="5"></div>
								</td>
							</tr>
						</tfoot>
					</table>
					
					</div>		
				</div>
                <div class="panel-body">
					<div class="table-responsive">
			        	<table class="table table-striped table-bordered table-hover" id="tabela-resultado">
			        	<thead>
							<tr>
								<th>Título do Job</th>
								<th>Descrição do Job</th>
								<th>Periodicidade</th>
								<th>Horário de Execução</th>
								<th>Data da Última Execução</th>
								<th>Data da Próxima Execução</th>
								<th>Adapter</th>
								<th>Status</th>
								<th>Sistema</th>
								<th>Tarefas</th>
								<th class="column-for-search"></th>
							</tr>
			        	</thead>
      					<tbody>
      					<tr ng-repeat = "job in dados">
      						<td>{{job.nomeJob}}</td>
      						<td>{{job.descricaoJob}}</td>
      						<td>{{job.periodicidade}}</td>
      						<td>{{job.horarioExecucao}}</td>
      						<td>{{job.dataHorarioUltimoExecucao}}</td>
      						<td>{{job.dataHorarioProximaExecucao}}</td>
      						<td>{{job.adapter}}</td>
      						<td>{{job.status}}</td>
      						<td>{{job.sistema}}</td>
      						<td ng-click="job.idJob == 617660643 ? tituloTarefaAgendador() : tituloTarefa(job.idJob, job.sistema)" data-target="#modalTarefas" data-toggle="modal" id="coluna-tarefas">
      							<span data-toggle="tooltip" title="Visualizar tarefas" class="span-tarefas label label-default">
                             		<i  class="tarefas glyphicon glyphicon-search"></i>
                           	 	</span> 
                           	</td> 
                           	<td class="column-for-search">{{job.filtroTarefas}}</td>
      					</tr>
      					</tbody>	
           				</table>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modalTarefas" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	        <div class="modal-body">
	        	<div class="panel panel-success">
	                <div class="panel-heading">
	                    <h3>Tarefas</h3>
	                </div>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat = "tarefa in tarefas track by $index">{{tarefa}}</li>
					</ul>
				</div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	        </div>
	      </div>
	      
	    </div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<!-- <script src="../js/angular.min.js"></script> -->
<!-- <script src="../js/smart-table.js"></script> -->
<!-- <script src="../js/smart-table.min.js"></script> -->

<script src="../module/app.module.js"></script>
<!-- Factory -->
<script src="../controller/app.factory.js"></script>
<!-- Controllers -->
<script src="../controller/app.controller.js"></script>
			
<script type="text/javascript" src="../js/custom-painel-jobs.js"></script>

</body>
</html>