.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #555555;
	background-color: #fff;
	border-color: #6b7486;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

/*******************/

.info{
	text-align: left;
	margin: auto;
	width: 95%;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #6b7486;
    border-color: #6b7486;
}

.panel-primary {
    border-color: #6b7486;
}

.label-default {
    background-color: #6b7486 !important;
}

.hr-default {
	margin: 10px;
}

.tr-title{
    background: #BEC6D4;
    color: #5f5f5f;
    text-align: center;
    font-weight: bold;
}
thead > tr > td {
	font-weight: bold;
}
.table-info td{
	font-size: 16px;
}
.table-info i{
	font-size: 18px;
}
.total-number{
	font-weight: bold;
}
.icon-warning{
	color: #ff660c;
}
.icon-success{
	color: #6adc7d;
}


.bg-info, .bg-info>a {
    color: #6d6d6d!important;
}
.bg-info {
    background-color: #ffffff!important;
}
.small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.small-box>.inner {
	text-align: left;
    padding: 10px;
}
.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    white-space: nowrap;
}
.small-box h3, .small-box p {
    z-index: 5;
}
.small-box p {
    font-size: 16px;
}
.small-box .icon {
    color: rgba(0, 0, 0, 0.47);
    z-index: 0;
}
.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.glyphicon, .small-box .icon>i.fas {
    font-size: 45px;
    top: 20px;
}

.small-box .icon>i {
    font-size: 90px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all .3s linear;
}
.fas-bag:before {
    content: "\f110";
}
#tableCentrais td:nth-child(1){
	width: 5%
}
#tableCentrais td:nth-child(2), #tableCentrais td:nth-child(5), #tableCentrais td:nth-child(6), #tableCentrais td:nth-child(7){
	width: 10%;
}
select.form-control, input.form-control{
	padding: 6px 6px!important;
    font-size: 12px!important;
}
td i{
	padding-right: 4px;
	width: 35px;
}
.splash-screen{
	position: fixed;
	z-index:9999;
	background: rgba(177, 164, 164, 0.8784313725490196);
	top: 0;
	min-width: 100%;
	min-height: 100%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}