.form_container { position: relative; width: 100%; height: 100%; }

.form_content {	position: relative;	width: 100%; height: 100%; overflow: auto; padding: 2px; }

.field_container { padding: 5px 0px; min-height: 28px; clear: both;}
.field_container img { vertical-align:middle; }
.field_container select { vertical-align:middle; }
.field_container input { vertical-align:middle; }

.field_group { height: 100%; padding: 2px; /*padding-bottom: 26px;*/ border: #CCCCCC 1px solid; box-sizing: border-box;}
.field_group_data { height: 100%; }

.field_label { float:left; white-space: nowrap;}
.field_label_nowrap { float:left;}
.field_label_default { text-align:right;	width:25%; min-width:25%; max-width:25%; }
.field_label_separator { width: 25px; overflow: hidden;	float: left; padding: 0px 5px 0px 4px;}

.field_type_fix { margin-left: -3px; }

/* FIXME - Padronizar este css com tipo de fonte padrão */
.field_group legend
{
	color:#006699;
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana, sans-serif;
	font-weight:bold;
	letter-spacing:0.1em;
	font-size: 1.1em;
	line-height: 2em;
	margin-left: 8px;
}

/* Header e Footer definidos no Form Designer */
.form_content_header { height: 100px; position: relative; background: #ffffff; }
.form_content_footer { height: 100px; position: relative; background: #ffffff; }
.form_content_wrapper { height: 100%; position: relative; background: #ffffff; overflow: auto;}