.arrow-down:after,.arrow-up:after{
 content: ' ';
 position: relative;
 left: 2px;
 border: 8px solid transparent;
}

.arrow-down:after{
 top: 10px;
 border-top-color: black;
}

.arrow-up:after{
 bottom: 15px;
 border-bottom-color: black;
}

.arrow-down,.arrow-up{
 padding-right: 10px;
}

.center-ul{
	display: flex;
    justify-content: center;
}

/* 	This was created for Neomind by Carlos Costa at 11/SET/2015 
	This was based at http://materializecss.com/preloader.html
*/

.preloaderCircular {
    height: 16px;
    width: 16px;
    position: relative;
    display: inline-flex;
    text-align: justify; /*Prevent bug in some pages*/
    animation: spin 1568ms linear infinite;
}

.preloaderCircular .spinner {
    height: 16px;
    width: 16px;
    position: relative;
    display: inline-flex;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloaderCircular .spinner .left, 
.preloaderCircular .spinner .right {
    height: 16px;
    width: 8px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.preloaderCircular .spinner .left:after , 
.preloaderCircular .spinner .right:after {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    content: '';
}

.preloaderCircular .spinner .left:after {
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
    box-shadow: inset  #6b7486 0 0 0 2.5px;
    clip: rect(0px, 8px, 16px, 0px);
}

.preloaderCircular .spinner .right:after {
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
    box-shadow: inset  #6b7486 0 0 0 2.5px;
    clip: rect(0, 16px, 16px, 8px);
    margin-left: -8px;
}

/********************** Customizations ************************/
/* Negative preloader */
.preloaderCircular.negativeLoader .spinner .left:after {
    box-shadow: inset #eeeeee 0 0 0 2.5px;
}
.preloaderCircular.negativeLoader .spinner .right:after {
    box-shadow: inset #eeeeee 0 0 0 2.5px;
}

/* Message of warning */
.preloaderCircular.warningLoader .spinner .left:after {
    box-shadow: inset #ab9341 0 0 0 2.5px;
}
.preloaderCircular.warningLoader .spinner .right:after {
    box-shadow: inset #ab9341 0 0 0 2.5px;
}

/* size60px */
.preloaderCircular.size60px,
.preloaderCircular.size60px .spinner,
.preloaderCircular.size60px .spinner .left:after, 
.preloaderCircular.size60px .spinner .right:after {
    height: 60px;
    width: 60px;
}
.preloaderCircular.size60px .spinner .left, 
.preloaderCircular.size60px .spinner .right {
    height: 60px;
    width: 30px;
}
.preloaderCircular.size60px .spinner .left:after,
.preloaderCircular.size60px .spinner .right:after {
    box-shadow: inset  #6b7486 0 0 0 5px;
}
.preloaderCircular.size60px .spinner .left:after {
    clip: rect(0px, 30px, 60px, 0px);
}
.preloaderCircular.size60px .spinner .right:after {
    clip: rect(0, 60px, 60px, 30px);
    margin-left: -30px;
}
/**************************************************************/

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

@-webkit-keyframes left-spin {
    from { -webkit-transform: rotate(45deg); }
    50%  { -webkit-transform: rotate(170deg); }
    to   { -webkit-transform: rotate(45deg); }
}
@keyframes left-spin {
    from { transform: rotate(45deg);  }
    50%  { transform: rotate(170deg); }
    to   { transform: rotate(45deg);  }
}

@-webkit-keyframes right-spin {
    from { -webkit-transform: rotate(-45deg); }
    50%  { -webkit-transform: rotate(-170deg);  }
    to   { -webkit-transform: rotate(-45deg); }
}
@keyframes right-spin {
    from { transform: rotate(-45deg);  }
    50%  { transform: rotate(-170deg); }
    to   { transform: rotate(-45deg);  }
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% { -webkit-transform: rotate(135deg);  }
    25%   { -webkit-transform: rotate(270deg);  }
    37.5% { -webkit-transform: rotate(405deg);  }
    50%   { -webkit-transform: rotate(540deg);  }
    62.5% { -webkit-transform: rotate(675deg);  }
    75%   { -webkit-transform: rotate(810deg);  }
    87.5% { -webkit-transform: rotate(945deg);  }
    to    { -webkit-transform: rotate(1080deg); }
}
@keyframes fill-unfill-rotate {
    12.5% { transform: rotate(135deg);  }
    25%   { transform: rotate(270deg);  }
    37.5% { transform: rotate(405deg);  }
    50%   { transform: rotate(540deg);  }
    62.5% { transform: rotate(675deg);  }
    75%   { transform: rotate(810deg);  }
    87.5% { transform: rotate(945deg);  }
    to    { transform: rotate(1080deg); }
}

