@CHARSET "ISO-8859-1";

.panel-heading{
	background-color: #6b7486 !important;
	color: white !important;
	font-weight: bold;
}

h1, h2, h3, h4, h5{
	font-weight: bold;
}

.span-ajuda{
	background-color: #6b7486 !important;
}
h3{
	display: inline;
}

.btn-pesquisar{
	background-color: #6b7486 !important
}

.ajuda{
	font-size: x-large;
}

a {
	color: #FFFFFF;
}

a:hover, a:focus {
	color: #23527c
}

.input-filter {
	width: 100%;
}

.text-center {
	text-align: center;
}

.odd {
	background-color: #ddd;
	color: #6b7486
	;
}

td th {
	height: 20px;
	min-width: 100px;
}

thead {
	background-color: #6b7486;
	color: white;
	height: 10px;
}

thead th {
	text-align: center;
}
.ng-hide :not(.ng-hide-animate)
{
	/* These are just alternative ways of hiding an element */
	display:block !important;
	position: absolute;
	top:-9999px;
	left:-9999px;
}
