/* jQuery lightBox plugin - Gallery style */
    #gallery {
        background-color: #fff;
        padding: 10px;       
        width: auto;
    }

    #gallery ul { list-style: none; }

    #gallery ul li { display: inline; }

    #gallery ul img {
        border: 5px solid #444444;
      
    }

    #img_camera {
        background-color: #fff;
        padding: 10px;
        text-align: center;
    }

    #img_camera img {
        border: 5px solid #444444;
    }



