
body{margin:0;}

h3{
	text-align: center;
}

.span-tarefas{
	cursor: pointer;	
}

#coluna-tarefas{
	text-align: center;
	font-size: 12pt;
}

.column-for-search{
	display: none;	
}

.painel-visivel{
	display: normal;
}

.painel-oculto{
	display: none;
}

.error{
	padding: 5px;
}

.label-erro{
	margin: 0;
}
.label-detalhes{
	margin: 0;
}

.icon-alert{
	text-align: center;
	font-size: 15pt;
	color: red;
}

.icon-ok{
	text-align: center;
	font-size: 18pt;
	color: green;
	cursor: pointer;
}

.panel-heading{
	background-color: #6b7486 !important;
	color: white !important;
	font-weight: bold;
}

.align-center{
	text-align: center;
}

.line-error td{
	padding: 0 !important;
    vertical-align: middle !important;
}

/* #tabela-resultado_length{ */
/* 	float: right;	 */
/* } */

/* #tabela-resultado_filter{ */
/* 	float: left; */
/* } */

.dataTables_wrapper .dataTables_length {
	float: right;
}
.dataTables_wrapper .dataTables_filter {
	float: left;
	text-align: left;
	margin-left: 20px;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
}
.dataTables_wrapper .dataTables_info {
	float: left;
	text-align: left;
}

#refresh-error{
	float: right;
	cursor: pointer;
	font-size: 20pt;
}

.msg-alert{	
	text-align: center;
	display: block;
	position: absolute;
	z-index: 9999;
	width: 100%;	
}

.mostrar{
	display: block;
}
.esconder{
	display: none;
}

.ativo{
	border-radius: 0 10px;
	background: rgba(0,0,0,.3);
	color: rgb(255,255,255);
}

.navbar-default .navbar-nav li.ativo a{
	color: rgb(255,255,255);
}

.navbar-default .navbar-nav li.ativo{
	border-radius: 0;
}

.navbar-grafico li:HOVER {
	background: rgba(0,0,0,.3);	
}

.navbar-grafico{
	margin: 0 auto;
}

.nav-graficos{
	box-shadow: 0 0 30px rgba(0,0,0,.5);
	padding: 0;
}

.nav-graficos .container{
	padding: 0;
	width: 700px;
}

#li-por-mes{
	border-left: 1px solid rgba(0,0,0,.5);
}

